@import '../../styles/base';

.home{
	&-bgimg{
		max-height: 50vh;
		position:relative;
		overflow: hidden;
		 
		img{
			filter: grayscale(10%) opacity(50%) blur(3px);
		margin-top:-200px;
		width: 100%;
		}		
	}
	h1{
		color:$black;	
	}
}