/*Colours*/

$black: #2e2e2e;
$snow: #fcfcfc;
$hbr-blue: #19156a;
$hbr-green:#b4ec13;
$hbr-red: #ED5E68;
$hbr-light-purple:#8388A4;

/*Variables*/

$navbar-height: 65px;

/* Fonts */
$roboto:'RobotoRegular',
Arial;
$roboto-light:'RobotoLight',
Arial;