@import '../../../styles/base';
.history {
    margin-top: 20px;
    h3 {
        color: $hbr-blue;
        i {
			font-size: 24px;
		}
    }
    hr {
        background-color: $hbr-blue;
        height: 1px;
        border: 0;
        margin-bottom: 50px;
    }
}