@import '../../../styles/base';
.history {
    h3 {
        color: $hbr-blue;
        padding-top: 20px;
    }
    hr {
        background-color: $hbr-blue;
        height: 1px;
        border: 0;
        margin-bottom: 50px;
    }
}