<div class="login container" >

    <form ng-if="!login.loggedIn" name="login.loginForm" novalidate
          data-ng-submit="login.loginForm.$valid && !login.loginForm.$pristine && login.loginForm.$submitted && login.login()">
        <div class="form-group" data-ng-class="{'has-error': login.loginError && login.loginForm.$submitted}">
            <div class="form-group">
                <label for="username" class="control-label">{{ login.lang.user.label }} (*)</label><br>
                <input class="form-control" type="text" name="username" ng-model="login.user.username"
                       placeholder="{{ login.lang.user.placeholder }}" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="username" class="control-label">{{ login.lang.password.label }} (*)</label><br>
                <input class="form-control" type="password" name="password" ng-model="login.user.password"
                       placeholder="{{ login.lang.password.placeholder }}" autocomplete="off">
                <span class="has-error col-xs-12 help-block" ng-if="login.loginError">
                <i class="fa fa-times-circle"></i>  {{:: login.loginError}}
            </span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-hbr-blue" type="submit">{{ login.lang.button.login }}</button>
        </div>
    </form>
</div>