@import 'mixins/main';
@import 'modules/main';

@import './../routes/shopping/shopping';
@import './../routes/dashboard/dashboard';
@import './../components/navbar/navbar';

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: $museoSans-100;
        .col-md-4.col-sm-4.col-xs-12.tipo-boton-class.boton_solo{
            margin:0;
            padding:0;
            width:100%;
        }
        .pagination>.active>a,
        .pagination>.active>a:focus,
        .pagination>.active>a:hover, 
        .pagination>.active>span, 
        .pagination>.active>span:focus, 
        .pagination>.active>span:hover{
            background-color:$hbr-blue;
            border-color:$hbr-blue;
            color:$hbr-green;
        }

        .pagination>li>a, .pagination>li>span{
            color:$hbr-blue;
        }

        .empty-list {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            .btn-hbr-blue {
                margin-top: 20px;
                @include hbr-btn-blue(auto, 50px, $hbr-green);
            }
        }
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
        .loadingSpinner {
            position: fixed;
            z-index: 9999999999;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            .spinner-backdrop {
                background: rgba(0, 0, 0, .5);
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9999999999;
            }
            .spinner-container {
                background: rgba(255, 255, 255, 1);
                z-index: 99999999999;
                border: 2px solid $hbr-blue;
                width: 100px;
                height: 100px;
                border-radius: 15px;
                opacity: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                i {
                    color: $hbr-blue;
                }
            }
        }
    }
}