<div class="stock-card" draggable="true" drag-container="{{shipping.isAdmin == 1}}" drag-data="box" ng-style="{'cursor' : shipping.isAdmin == 1 || shipping.clientType == 2 ? 'move': 'default'}">
    <div class="stock-card__header">
        <h4>{{ shipping.lang.sp_box.box }} #{{box.id}}</h4>
        <h4 ng-if="shipping.isAdmin == 1 || shipping.clientType== 2">{{box.user.company_name}}</h4>
        <h4 ng-if="shipping.isAdmin == 1 || shipping.clientType== 2">
            <i style="color:#ED5E68; cursor:pointer" ng-click="shipping.notify(box, $index)" class="fa fa-paper-plane" uib-tooltip="{{shipping.boxLang.box.notify}}" tooltip-placement="left"></i>
            <i style="cursor:pointer" ng-click="shipping.navigate(box, $index)" class="fa fa-eye" uib-tooltip="{{shipping.boxLang.box.open}}" tooltip-placement="right"></i>
            <i style="color:red; cursor:pointer" ng-click="shipping.deleteBox(box)" class="fa fa-close"></i>
        </h4>
    </div>
    <ul class="stock-card__data">
        <li><b>{{shipping.lang.sp_box.box_amount}}:</b> {{box.enter_box.length}}</li>
        <li><b>{{shipping.lang.sp_box.age}}:</b> {{box.age}} {{shipping.boxLang.box.age_unit}}</li>
        <li><b>{{shipping.lang.sp_box.created}}:</b> {{ box.created | date : "dd/MM/yyyy HH:mm" }}</li>
        <li><b>{{shipping.lang.sp_box.edited}}:</b> {{ box.edited | date : "dd/MM/yyyy HH:mm" }}</li>
        <li ng-if="box.leave_date">
                <b ng-if="box.status == 0 || box.status == 1">{{shipping.lang.sp_box.wh_leave_date}}:</b>
                <b ng-if="box.status == 2">{{shipping.lang.sp_box.bsas_leave_date}}:</b>
                <span>{{ box.leave_date | date : "dd/MM/yyyy" }}</span></li>
            <li ng-if="box.arrival_date">
                    <b ng-if="box.status == 0">{{shipping.lang.sp_box.wh_arrival_date}}:</b>
                    <b ng-if="box.status == 1">{{shipping.lang.sp_box.bsas_arrival_date}}:</b>
                    <b ng-if="box.status == 2">{{shipping.lang.sp_box.customer_arrival_date}}:</b>
                 <span>{{ box.arrival_date | date : "dd/MM/yyyy" }}</span></li>
        <li class="wh_select"><b>{{shipping.lang.sp_box.travel_status.title}}:</b>
           <select ng-change="shipping.updateTravelStatus(box)" class="form-control" name="travel_status" id="travel_status" ng-model="box.travel_status">
               <option ng-value="0"> {{ shipping.lang.sp_box.travel_status.not_started }} </option>
               <option ng-value="1"> {{ shipping.lang.sp_box.travel_status.shipped }} </option>
               <option ng-value="2"> {{ shipping.lang.sp_box.travel_status.arrived }} </option>
           </select>
       </li>
        <li><b>{{shipping.lang.sp_box.origin}}:</b> {{box.enter_box[0].warehouse.name}}</li>
        <li class="wh_select"><b>{{shipping.lang.sp_box.location}}:</b>
             <span ng-if="box.status != 0"> {{ box.warehouse_location.name }}</span>
            <select ng-if="box.status == 0" ng-change="shipping.saveLocation(box)" class="form-control" required ng-options="warehouse.name for warehouse in shipping.warehouses track by warehouse.id" name="warehouses" id="warehouses" ng-model="box.warehouse_location"></select>
        </li>
    </ul>
    <div class="stock-card__footer">
        <span>{{shipping.boxLang.box.weight}}: <span ng-bind="box.total.weight + ' Kg.'"> </span></span>
        <a ng-if="box.bill_file_path !== 'null'" download="{{box.bill_file_name }}" href="/hbr-selfie{{box.bill_file_path }} " target="_self ">{{shipping.lang.sp_box.download}} <i class="fa fa-cloud-download"></i></a>
        <span style="cursor:pointer;"><i class="fa" popover-is-open="isOpen" ng-class="!isOpen ? 'fa-search' : 'fa-close'" uib-popover-template="'stock-card-info.html'" popover-class="help" popover-placement="top" data-toggle="popover" popover-trigger="outsideClick"></i></span>
    </div>
</div>
<script type="text/ng-template" id="stock-card-info.html">
    <div class="popover-card">
        <div class="stock-card__header">
            <h5 class="pull-left"><b>Box: #{{box.id}}</b></h5>
            <h5 ng-if="shipping.isAdmin == 1 || shipping.clientType == 2" class="pull-right"><b>{{box.user.company_name}}</b></h5>
        </div>
        <ul class="stock-card__data">
            <li><b>Total Items:</b> <span>{{ box.total.quantity }}</span></li>
            <li ng-if="box.provider"><b>{{shipping.lang.sp_box.provider}}:</b> <span>{{ box.provider }}</span></li>
            <li ng-if="box.tracking"><b>{{shipping.lang.sp_box.tracking}}:</b> <span>{{box.tracking }}</span></li>
            <li ng-if="box.total.value"><b>{{shipping.lang.sp_box.value}}:</b> <span>{{ box.total.value | currency }}</span></li>
            <li ng-if="box.hbr_wh_val || box.total.wh_val"><b>{{shipping.lang.sp_box.wh_val}}:</b> <span>{{ (box.hbr_wh_val || box.total.wh_val) | currency }}</span></li>
            <li ng-if="box.total.wh_aditional_val"><b>{{shipping.lang.sp_box.wh_aditional}}:</b> <span>{{ box.total.wh_aditional_val | currency }}</span></li>
            <li ng-if="box.aditional_value"><b>{{shipping.lang.sp_box.aditional_value}}:</b> <span>{{ box.aditional_value | currency }}</span></li>
            <li ng-if="box.freight_val"><b>{{shipping.lang.sp_box.freight_val}}:</b> <span>{{ box.freight_val | currency }}</span></li>
            <li ng-if="box.shipping_val"><b>{{shipping.lang.sp_box.shipping_val}}:</b> <span>{{ box.shipping_val | currency }}</span></li>
            <li><b>{{shipping.lang.sp_box.username}}:</b> <span>{{ box.user.name }} {{ box.user.lastname }}</span></li>
            <li><b>{{shipping.lang.sp_box.tel}}:</b> <span>{{ box.user.tel }}</span></li>
            <li><b>{{shipping.lang.sp_box.cel}}:</b> <span>{{ box.user.cel }}</span></li>
            <li><b>{{shipping.lang.sp_box.email}}:</b> <span>{{ box.user.email }}</span></li>
            <li><b>{{shipping.lang.sp_box.shipping_address}}:</b> <span>{{ box.user.address }}</span></li>
            <li><b>{{shipping.lang.sp_box.city}}:</b> <span>{{ box.user.localidad }}</span></li>
            <li><b>{{shipping.lang.sp_box.postalcode}}:</b> <span>{{ box.user.postalcode }}</span></li>
        </ul>
    </div>
</script>