<table class="table table-bordered table-striped table-curved rounded">
    <thead>
        <tr>
            <td><span>N° Factura</span></td>
            <td><span>Tracking</span></td>
            <td><span>Prestador Postal</span></td>
            <td><span>Tienda de compra</span></td>
            <td><span>Productos</span></td>
            <td><span>Cant. Productos</span></td>
            <td><span>Peso Total</span></td>
            <td><span>Precio Total</span></td>
            <td><span>Acciones</span></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bill in shopping.lote.bills track by $index">
            <td><span>{{ bill.number }}</span></td>
            <td><span>{{ bill.tracking }}</span></td>
            <td><span>{{ bill.prestador }}</span></td>
            <td><span>{{bill.establishment }}</span></td>
            <td>
                <table class="col-xs-12" ng-if="bill.products.length">
                    <thead>
                        <tr style="background-color:transparent;">
                            <td class="col-xs-3"><span> Categor&iacute;a </span></td>
                            <td class="col-xs-3"><span> Producto </span></td>
                            <td class="col-xs-3"><span> Cant. </span></td>
                            <td class="col-xs-3"><span> Precio unit. </span></td>
                            <td class="col-xs-3"><span> Peso unit. </span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in bill.products track by $index">
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.name }} </td>
                            <td>{{ product.quantity }} Kg.</td>
                            <td>{{ product.price | currency }}</td>
                            <td>{{ product.weight }} KG.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td><span>{{ bill.total_quantity }}</span></td>
            <td><span>{{ bill.total_weight }}</span></td>
            <td><span>{{ bill.total_price }}</span></td>
            <td><span><i class="fa fa-file"></i></span><span><i class="fa fa-close"></i></span></td>

        </tr>
    </tbody>
</table>
<div class="well well-lg" ng-if="shopping.excedente_peso">
    <ul>
        <li>
            <span class="help-block"><i class="fa fa-warning"></i>  {{ shopping.excedente_peso }}</span>
        </li>
    </ul>
</div>
<div class="well well-lg">
    <ul>
        <li>
            <strong>Peso Total:</strong>
            <span class="pull-right">{{ shopping.purchase.peso_total }} Kg.</span>
        </li>

        <li>
            <strong>Cantidad de productos:</strong>
            <span class="pull-right"> {{ shopping.purchase.total_quantity }}</span>
        </li>


        <br>
        <hr>
        <li><strong>Total Factura:</strong><span class="pull-right"> U$D {{ shopping.purchase.total }}</span>
        </li>
    </ul>
</div>
<button class="btn btn-hbr-blue pull-right">Cancelar compra</button>
<button class="btn btn-hbr-blue pull-right" ng-click="shopping.finish()">Enviar</button>
</ul>