<div class="process_payments container-fluid" >
        <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/process_payments/process_payments.css">
    <h3><i class="fa fa-plane"></i>Manage Airway Bills</h3>
    <hr>
    <div class="col-xs-12 content" ng-if="!airway.guides.length">
        <div class="row">
            <div class="empty-list">
                <h3>No Airway Bills have been made yet.</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 content" ng-if="airway.guides.length">
        <h4>Search by:</h4>
        <div class="row">
            <div class="col-xs-2">
                <label for="">Purchase Id</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="Purchase Id" ng-model="searchByPurchase">
                </div>
            </div>
            <div class="col-xs-2">
                <label for="">Guide Number</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="Guide N°" ng-model="searchByGuideN">
                </div>
            </div>
            <div class="col-xs-2">
                <label for="">HBR Id</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="HBR Id" ng-model="searchByHbr">
                </div>
            </div>
            <div class="col-xs-3">
                <label for="">Username</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i  class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="User" ng-model="searchByUser">
                </div>
            </div>
            <div class="col-xs-3">
                <label for="">Warehouse</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i  class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="Warehouse" ng-model="searchByWarehouse">
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-curved rounded">
            <thead>
                <tr>
                    <td><span>Status</span></td>                   
                    <td><span>Purchase Id</span></td>
                    <td><span>HBR Id</span></td>
                    <td><span>User</span></td>
                    <td><span>Warehouse</span></td>
                    <td><span>HBR Number</span></td>
                    <td><span>AWB Number</span></td>
                    <td><span>Product Quantity</span></td>
                    <td><span>Total Weight</span></td>
                    <td><span>Total Price</span></td>
                    <td><span>Warehouse Leave Date</span></td>
                    <td><span>BS AS Arrival Date</span></td>
                    <td><span>BS AS Leave Date</span></td>
                    <td>
                        <span ng-if="guide.state === 4">Client Arrival Date</span>
                        <span ng-if="guide.state !== 4">Client Estimated Arrival</span>
                    </td>
                    <td><span>Action</span></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="guide in filtered = ( airway.guides  | filter: { ventaId: searchByPurchase } | filter: { airwayId: searchByHbr } | filter: { number: searchByGuideN } | filter: { username : searchByUser } | filter: { warehousename : searchByWarehouse }) | orderBy: '-airwayId'  | start: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage  | filter : paginate track by $index">
                    <td><span ng-style="guide.state == 4 ? {'color':'green'}: {'color':'orange'}"><i class="fa fa-circle"></i></span></td>                  
                    <td><span>{{ guide.ventaId }}</span></td>
                    <td><span>{{ guide.airwayId }}</span></td>
                    <td><span>{{ guide.username }}</span></td>
                    <td><span>{{ guide.warehousename }}</span></td>
                    <td><span>{{ guide.airwayId }}</span></td>
                    <td><span>{{ guide.number }}</span></td>
                    <td><span>{{ guide.quantity }}</span></td>
                    <td><span>{{ guide.weight }} Kg.</span></td>
                    <td><span>{{ guide.price  | currency }}</span></td>
                    <td><span ng-if="guide.wh_leave_date">{{ guide.wh_leave_date * 1000 | date : "dd/MM/yyyy" }}</span></td>
                    <td><span ng-if="guide.arrivalDate">{{ guide.arrivalDate * 1000 | date : "dd/MM/yyyy" }}</span></td>
                    <td><span ng-if="guide.leaveDate">{{ guide.leaveDate * 1000 | date : "dd/MM/yyyy" }}</span></td>
                    <td><span ng-if="guide.estimatedArrivalDate">{{ guide.estimatedArrivalDate * 1000 | date : "dd/MM/yyyy" }}</span></td>
                    <td>
                        <button class="btn btn-default" uib-tooltip="Process Guide" tooltip-placement="right" ng-click="airway.processAirwayBill(guide, guide.products)">
                            <i class="fa fa-gear"></i>
                        </button>
                        <div class="row">
                    </td>
                </tr>
            </tbody>
        </table>
        <uib-pagination next-text="Siguiente" previous-text="Anterior" total-items="filtered.length" data-num-pages="shoppingList.noOfPages"
            ng-model="currentPage" class="pagination-sm pull-right" items-per-page="itemsPerPage" boundary-link-numbers="true"></uib-pagination>
        </div>
    </div>
    <div ng-include src="'hbr-selfie/dist/routes/airwayBills/modals/process-airway.template.html'"></div>