<script type="text/ng-template" id="edituser.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modalEditUser.cancel()">&times;</button>
        <h3 class="modal-title" id="modal-title">{{title}}</h3>

    </div>
    <div class="modal-body" id="modal-body">
        <form name="modalEditUser.modalEditUserForm" novalidate data-ng-submit="modalEditUser.modalEditUserForm.$valid && !modalEditUser.modalEditUserForm.$pristine && modalEditUser.modalEditUserForm.$submitted && modalEditUser.modalEditUser()">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6" ng-if="modalEditUser.user.name && !showCompanyForm" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.name.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="name">Name (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="modalEditUser.user.name" placeholder="Name" autocomplete="off"
                        required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="modalEditUser.user.lastname && !showCompanyForm" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.lastname.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="lastname">Lastname (*)</label><br>
                    <input id="lastname" autocomplete="off" class="form-control" type="text" name="lastname" ng-model="modalEditUser.user.lastname"
                        placeholder="Lastname" required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="modalEditUser.user.company_name" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.name.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="name">Company Name (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="modalEditUser.user.company_name" placeholder="Company Name"
                        autocomplete="off" required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="modalEditUser.user.company_real_name" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.name.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="name">Real Company name (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="modalEditUser.user.company_real_name" placeholder="Company real name"
                        autocomplete="off" required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="showCompanyForm" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.name.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="name">Contact Name (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="modalEditUser.user.name" placeholder="Name" autocomplete="off"
                        required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="showCompanyForm" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.lastname.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="lastname">Contact Lastname (*)</label><br>
                    <input id="lastname" autocomplete="off" class="form-control" type="text" name="lastname" ng-model="modalEditUser.user.lastname"
                        placeholder="Lastname" required>
                </div>
                <div class="form-group" data-ng-class="{'has-error': modalEditUser.telError && modalEditUser.modalEditUserForm.$submitted}">
                    <div class="col-xs-12 col-md-6">
                        <label class="control-label" for="tel">Phone</label><br>
                        <input id="tel" autocomplete="off" class="form-control" type="text" name="tel" ng-model="modalEditUser.user.tel" placeholder="Phone">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="control-label" for="cel">Cellphone</label><br>
                        <input id="cel" autocomplete="off" class="form-control" type="text" name="cel" ng-model="modalEditUser.user.cel" placeholder="Cellphone">
                    </div>
                    <span class="has-error col-xs-12 help-block" ng-if="modalEditUser.telError">
						<i class="fa fa-times-circle"></i>  {{:: modalEditUser.telError }}
					</span>
                </div>
                <div class="form-group" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.email.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <div class="col-xs-12">
                        <label class="control-label" for="email">E-Mail (*)</label><br>
                        <input id="email" autocomplete="off" class="form-control" type="email" name="email" ng-model="modalEditUser.user.email" placeholder="E-Mail"
                            required>
                    </div>
                    <span class="has-error col-xs-12 help-block" ng-if="modalEditUser.existingEmail">
						<i class="fa fa-times-circle"></i>  {{:: modalEditUser.existingEmail}}
					</span>
                </div>
                <div class="form-group col-xs-12 col-sm-12" data-ng-class="{'has-error': (modalEditUser.modalEditUserForm.codeType.$invalid || modalEditUser.modalEditUserForm.idCode.$invalid) && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="idCode">Identification Code ( Cuit / Cuil ) (*)</label><br>
                    <div class="input-group">
                        <select class="form-control" id="idCodeType" ng-options="obj.id as obj.name for obj in values" name="codeType" ng-model="modalEditUser.user.codeType"
                            required></select>
                        <input id="idCode" class="form-control" type="text" name="idCode" ng-model="modalEditUser.user.idCode" placeholder="Identification code Cuit/Cuil"
                            required>
                    </div>
                </div>


                <div class="form-group" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.password.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <div class="col-xs-12 col-md-6">
                        <div ng-if="!modalEditUser.user">
                            <label class="control-label" for="pwd">Password (*)</label><br>
                        </div>
                        <div ng-if="modalEditUser.user">
                            <label class="control-label" for="pwd">Change Password (*)</label><br>
                        </div>

                        <input id="pwd" autocomplete="off" class="form-control" type="password" name="password" ng-model="modalEditUser.user.password"
                            placeholder="Password" required>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="control-label" for="pwd2">Repeat Password (*)</label><br>
                        <input id="pwd2" autocomplete="off" class="form-control" type="password" name="password2" ng-model="modalEditUser.user.password2"
                            placeholder="Repeat Password" required>
                    </div>
                    <span class="has-error col-xs-12 help-block" ng-if="modalEditUser.passwordError">
						<i class="fa fa-times-circle"></i>  {{:: modalEditUser.passwordError}}
					</span>
                </div>
                <div class="form-group col-xs-12 col-md-5" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.address.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="address">Delivery Address (*)</label><br>
                    <input id="address" autocomplete="off" class="form-control" type="text" name="address" ng-model="modalEditUser.user.address"
                        placeholder="Delivery Address" required>
                </div>
                <div class="form-group col-xs-12 col-md-4" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.localidad.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="localidad">City (*)</label><br>
                    <input id="localidad" autocomplete="off" class="form-control" type="text" name="localidad" ng-model="modalEditUser.user.localidad"
                        placeholder="City / Town" required>
                </div>
                <div class="form-group col-xs-12 col-md-3" data-ng-class="{'has-error': modalEditUser.modalEditUserForm.postalCode.$invalid && modalEditUser.modalEditUserForm.$submitted}">
                    <label class="control-label" for="postalCode">Postal Code (*)</label><br>
                    <input id="postalCode" autocomplete="off" class="form-control" type="text" name="postalCode" ng-model="modalEditUser.user.postalcode"
                        placeholder="Postal Code" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-hbr-blue" ng-click="modalEditUser.edit()">Edit</button>
        <button class="btn btn-hbr-blue" ng-click="modalEditUser.cancel()">Close</button>
    </div>

</script>