<div class="dashboard container-fluid" ng-cloak>
    <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/dashboard/dashboard.css">
    <aside ng-class="dashboard.collapse ? 'dashboard__sidebar--collapsed':'dashboard__sidebar'">
        <ul>
            <div ng-if="dashboard.isAdmin == 0">
                <a href="" ng-if="!dashboard.collapse" data-ng-click="dashboard.collapse_sidebar()">
                    <li>
                        <i class="fa fa-eye-slash"></i>
                        <span>Ocultar Menu</span>
                    </li>
                </a>
                <a href="" ng-if="dashboard.collapse" data-ng-click="dashboard.collapse_sidebar()" tooltip-placement="right" uib-tooltip="Mostrar Menu">
                    <li>
                        <i class="fa fa-eye"></i>
                    </li>
                </a>
            </div>
            <div ng-if="dashboard.isAdmin == 1">
                <a href="" ng-if="!dashboard.collapse" data-ng-click="dashboard.collapse_sidebar()">
                    <li>
                        <i class="fa fa-eye-slash"></i>
                        <span>Hide Menu</span>
                    </li>
                </a>
                <a href="" ng-if="dashboard.collapse" data-ng-click="dashboard.collapse_sidebar()" tooltip-placement="right" uib-tooltip="Show Menu">
                    <li>
                        <i class="fa fa-eye"></i>
                    </li>
                </a>
            </div>
            <div ng-if="dashboard.isAdmin == 0 && dashboard.clientType != '2'">
                <a href="" ui-sref="dashboard.shopping({ venta: null})" ui-sref-opts="{reload: true, notify: true}" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Agregar Compra">
                    <li><i class="fa fa-shopping-cart"></i></li>
                </a>
                <a href="" ui-sref="dashboard.shopping({ venta: null})" ui-sref-opts="{reload: true, notify: true}" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-shopping-cart"></i><span> Agregar Compra </span></li>
                </a>
                <a href="" ui-sref="dashboard.shopping_list" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Ver Compras">
                    <li><i class="fa fa-list-alt"></i></li>
                </a>
                <a href="" ui-sref="dashboard.shopping_list" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-list-alt"></i><span> Ver Compras </span></li>
                </a>
                <a href="" ui-sref="dashboard.airwaybill_list" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Ver Guías">
                    <li><i class="fa fa-plane"></i></li>
                </a>
                <a href="" ui-sref="dashboard.airwaybill_list" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-plane"></i><span> Ver Guías </span></li>
                </a>
            </div>
            <div ng-if="dashboard.clientType == 2">
                <a href="" ui-sref="dashboard.process_payments" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Lots">
                    <li><i class="fa fa-dropbox"></i></li>
                </a>
                <a href="" ui-sref="dashboard.process_payments" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-dropbox"></i><span>Lots </span></li>
                </a>
                <a href="" ui-sref="dashboard.manage_awb" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="AirWay Bill">
                    <li><i class="fa fa-plane"></i></li>
                </a>
                <a href="" ui-sref="dashboard.manage_awb" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-plane"></i><span>AirWay Bill </span></li>
                </a>
            </div>
            <div ng-if="dashboard.isAdmin == 1">
                <a href="" ui-sref="dashboard.process_payments" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Lots">
                    <li><i class="fa fa-dropbox"></i></li>
                </a>
                <a href="" ui-sref="dashboard.process_payments" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-dropbox"></i><span>Lots </span></li>
                </a>
                <a href="" ui-sref="dashboard.manage_awb" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="AirWay Bill">
                    <li><i class="fa fa-plane"></i></li>
                </a>
                <a href="" ui-sref="dashboard.manage_awb" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-plane"></i><span>AirWay Bill </span></li>
                </a>
                <a href="" ui-sref="dashboard.categories" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Add Categories">
                    <li><i class="fa fa-book"></i></li>
                </a>
                <a href="" ui-sref="dashboard.categories" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-book"></i><span> Categories </span></li>
                </a>
                <a href="" ui-sref="dashboard.users" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Manage Users">
                    <li><i class="fa fa-users"></i></li>
                </a>
                <a href="" ui-sref="dashboard.users" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-users"></i><span> Manage Users </span></li>
                </a>
                <a href="" ui-sref="dashboard.business" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Manage Business">
                    <li><i class="fa fa-building"></i></li>
                </a>
                <a href="" ui-sref="dashboard.business" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-building"></i><span> Manage Business </span></li>
                </a>
                <a href="" ui-sref="dashboard.warehouse" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Manage Warehouse">
                    <li><i class="fa fa-home"></i></li>
                </a>
                <a href="" ui-sref="dashboard.warehouse" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-home"></i><span> Warehouse </span></li>
                </a>
            </div>
            <div ng-if="dashboard.clientType !== 0 || dashboard.isAdmin == 1">
                <a href="" ui-sref="dashboard.stock_rooms" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Stock Rooms">
                    <li><i class="fa fa-cubes"></i></li>
                </a>
                <a href="" ui-sref="dashboard.stock_rooms" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-cubes"></i><span>Stock Rooms </span></li>
                </a>
                <a href="" ui-sref="dashboard.awb-box" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Box Airway bill">
                    <li><i class="fa fa-suitcase"></i></li>
                </a>
                <a href="" ui-sref="dashboard.awb-box" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-suitcase"></i><span>Box Airway bill </span></li>
                </a>
                <a href="" ui-sref="dashboard.history" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="History">
                    <li><i class="fa fa-history"></i></li>
                </a>
                <a href="" ui-sref="dashboard.history" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-history"></i><span>History</span></li>
                </a>
                <a href="" ui-sref="dashboard.shipping" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="Shipping">
                    <li><i class="fa fa-truck"></i></li>
                </a>
                <a href="" ui-sref="dashboard.shipping" ng-if="!dashboard.collapse">
                    <li><i class="fa fa-truck"></i><span>Shipping</span></li>
                </a>
            </div>
        </ul>
    </aside>
    <section ng-class="dashboard.collapse ? 'dashboard__content--collapsed':'dashboard__content'">
        <div ui-view>
            <div class="container-img">
                <img src="http://tucourier.com.ar/wp-content/uploads/2014/11/logo_home_2-1.png">
            </div>
        </div>
    </section>
</div>