@import '../../styles/mixins/main';
@import '../../styles/modules/main';
.modal-dialog {
    width: 60%;
    margin-top: 100px;
    .tutorial {
        .what-we-do {
            padding: 5px 0px;
            font-size: 13px;
            i {
                font-size: 16px;
                color: $hbr-green;
            }
        }
        .steps {
            padding-bottom: 10px;
            i {
                color: $hbr-green;
                font-size: 18px;
            }
        }
        p {
            text-align: left;
            white-space: normal;
            line-height: 16px;
            padding: 0;
            position: relative;
            font-size: 15px;
            ol {
                padding: 0px 15px;
            }
        }
        .btn-hbr-blue {
            @include hbr-btn-blue(150px, 50px, $hbr-green);
            margin-left: 10px;
        }
        &>.modal-body {
            overflow-y: auto;
            height: 350px;
            img {
                width: 100%;
            }
        }
    }
}

.dashboard {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    height: 100%;
    .tooltip {
        z-index: 9999999999;
        .tooltip-inner {
            background-color: $hbr-blue;
            color: $hbr-green;
            z-index: 9999999999;
        }
    }
    @include responsive(desktop, large-desktop) {
        padding-top: 0;
    }
    @include responsive(desktop, large-desktop) {
        &__sidebar {
            i {
                padding: 0px 10px;
            }
            width: 15%;
            height: 100%;
            position: fixed;
            padding-top: 100px;
            background-color:$hbr-blue;
            border-right: 5px solid $hbr-green;
            transition: all .1s ease-in-out;
            cursor:pointer;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                a {
                    min-width: 100%;
                    overflow: hidden;
                    height: 40px;
                    text-decoration: none;
                    color: white;
                    font-size: 12px;
                    &:hover {
                        font-family: $museoSans-500;
                    }
                    i {
                        font-size: 14px;
                    }
                    li {
                        padding: 15px 20px;
                        &:hover {
                            background: $hbr-green;
                            color: $hbr-blue;
                        }
                    }
                }
            }
            &--collapsed {
                width: 5%;
                height: 100vh;
                padding-top: 100px;
                position: fixed;
                background-color: $hbr-blue;
                border-right: 5px solid $hbr-green;
                transition: all .1s ease-in-out;
                cursor: pointer;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    a {
                        width: 100%;
                        height: 40px;
                        text-decoration: none;
                        color: white;
                        font-size: 18px;
                        &:hover {
                            font-family: $museoSans-500;
                            background: $hbr-green;
                        }
                        li {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            padding: 15px 0px;
                            &:hover {
                                font-family: $museoSans-500;
                                background: $hbr-green;
                                color: $hbr-blue;
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    @include responsive(large-xl-desktop) {
        &__sidebar {
            i {
                padding: 0px 10px;
            }
            width: 15%;
            height: calc(100% - 60px);
            position: fixed;
            padding-top: 100px;
            background-color:$hbr-blue;
            border-right: 5px solid $hbr-green;
            transition: all .1s ease-in-out;
            cursor:pointer;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                a {
                    width: 100%;
                    height: 40px;
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    &:hover {
                        font-family: $museoSans-500;
                    }
                    li {
                        padding: 20px 40px;
                        &:hover {
                            background: $hbr-green;
                            color: $hbr-blue;
                        }
                    }
                }
            }
            &--collapsed {
                width: 5%;
                height: 100vh;
                padding-top: 100px;
                position: fixed;
                background-color: $hbr-blue;
                border-right: 5px solid $hbr-green;
                transition: all .1s ease-in-out;
                cursor: pointer;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    a {
                        width: 100%;
                        height: 40px;
                        text-decoration: none;
                        color: white;
                        font-size: 18px;
                        &:hover {
                            font-family: $museoSans-500;
                            color: $hbr-green;
                        }
                        li {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            padding: 15px 0px;
                            &:hover {
                                background: $hbr-green;
                                color: $hbr-blue;
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &__content {
        margin-left: 15%;
        position: relative;
        padding: 2% 5% 0% 2%;
        padding-top: 100px;
        width: 85%;
        height: 100%;
        transition: all .1s ease-in-out;
        .container-img {
            width: 100%;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
        &--collapsed {
            margin-left: 5%;
            width: 95%;
            height: 100%;
            padding: 2% 5% 0% 2%;
            padding-top: 100px;
            transition: all .1s ease-in-out;
            .container-img {
                width: 100%;
                height: 90vh;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
            }
        }
    }
}