<div class="dashboard container-fluid" >
    <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/dashboard/dashboard.css">
    <aside ng-class="dashboard.collapse ? 'dashboard__sidebar--collapsed':'dashboard__sidebar'">
        <ul class="menu">
            <div 
                class="hide-button" 
                tooltip-placement="right" 
                uib-tooltip="{{ dashboard.lang.hide_show }}"
                data-ng-click="dashboard.collapse_sidebar()">
                <i class="fa" ng-class="dashboard.collapse ? 'fa-chevron-right':'fa-chevron-left'"></i>
            </div>
            <div >
                <!-- SMALL PACKAGES -->
                <a ng-if="dashboard.collapse" tooltip-placement="right" data-toggle="collapse" data-target="#small_packages" ng-click="dashboard.toggle('small')" uib-tooltip="{{ dashboard.lang.small_packages }}">
                    <li><i class="fa fa-shopping-bag"></i></li>
                </a>
                <a ng-if="!dashboard.collapse" data-toggle="collapse" data-target="#small_packages" ng-click="dashboard.toggle('small')">
                    <li class="list-parent">
                        <i class="fa" ng-class="dashboard.toggleSmall ? 'fa-chevron-down':'fa-chevron-right'"></i>
                        {{ dashboard.lang.small_packages }}
                    </li>
                </a>
                
                <div id="small_packages" ng-class="dashboard.toggleSmall ? 'collapse in':'collapse'">
                    <div ng-if="dashboard.isAdmin == 1">
                        <a ui-sref="dashboard.categories" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.categories }}">
                            <li><i class="fa fa-book"></i></li>
                        </a>
                        <a ui-sref="dashboard.categories" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-book"></i><span> {{ dashboard.lang.categories }} </span></li>
                        </a>
                        <a ui-sref="dashboard.users" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.manage_users }}">
                            <li><i class="fa fa-users"></i></li>
                        </a>
                        <a href="" ui-sref="dashboard.users" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-users"></i><span>{{ dashboard.lang.manage_users }}</span></li>
                        </a>
                    </div>
                    <div ng-if="dashboard.clientType == 0 || dashboard.clientType == 1">
                        <a href="" ui-sref="dashboard.shopping({ venta: null})" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.add_purchase }}">
                            <li><i class="fa fa-shopping-cart"></i></li>
                        </a>
                        <a href="" ui-sref="dashboard.shopping({ venta: null})" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-shopping-cart"></i><span> {{ dashboard.lang.add_purchase }} </span></li>
                        </a>
                        <a href="" ui-sref="dashboard.shopping_list" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.show_purchase }}">
                            <li><i class="fa fa-list-alt"></i></li>
                        </a>
                        <a href="" ui-sref="dashboard.shopping_list" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-list-alt"></i><span>{{ dashboard.lang.show_purchase }}</span></li>
                        </a>
                        <a href="" ui-sref="dashboard.airwaybill_list" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.show_awb }}">
                            <li><i class="fa fa-plane"></i></li>
                        </a>
                        <a href="" ui-sref="dashboard.airwaybill_list" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-plane"></i><span>{{ dashboard.lang.show_awb }} </span></li>
                        </a>
                    </div>
                    <div ng-if="dashboard.clientType == 2 || dashboard.isAdmin == 1">
                        <a href="" ui-sref="dashboard.process_payments" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.lots }}">
                            <li><i class="fa fa-dropbox"></i></li>
                        </a>
                        <a href="" ui-sref="dashboard.process_payments" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-dropbox"></i><span>{{ dashboard.lang.lots }}</span></li>
                        </a>
                        <a href="" ui-sref="dashboard.manage_awb" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.airway_bill }}">
                            <li><i class="fa fa-plane"></i></li>
                        </a>
                        <a href="" ui-sref="dashboard.manage_awb" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-plane"></i><span>{{ dashboard.lang.airway_bill }}</span></li>
                        </a>
                    </div>
                </div>

                <!-- BUSSINESS PACKAGES -->
                <a ng-if="dashboard.collapse" data-toggle="collapse" tooltip-placement="right" data-target="#business_packages" ng-click="dashboard.toggle('business')" uib-tooltip="{{ dashboard.lang.business_packages }}">
                    <li><i class="fa fa-cubes"></i></li>
                </a>
                <a ng-if="!dashboard.collapse" data-toggle="collapse" data-target="#business_packages" ng-click="dashboard.toggle('business')">
                    <li class="list-parent">
                        <i class="fa" ng-class="dashboard.toggleBusiness ? 'fa-chevron-down':'fa-chevron-right'"></i>
                        {{ dashboard.lang.business_packages }}
                    </li>
                </a>
                <div id="business_packages" class="collapse" ng-class="dashboard.toggleBusiness ? 'collapse in':'collapse'">
                    <div ng-if="dashboard.isAdmin == 1">
                        <a href="" ui-sref="dashboard.business" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.manage_business }}">
                            <li><i class="fa fa-building"></i></li>
                        </a>
                        <a href="" ui-sref="dashboard.business" ng-if="!dashboard.collapse">
                            <li><i class="fa fa-building"></i><span>{{ dashboard.lang.manage_business }}</span></li>
                        </a>
                    </div>
                    <a href="" ui-sref="dashboard.awb-box" ng-if="dashboard.collapse && dashboard.clientType == 1" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.box_airway_bill }}">
                        <li><i class="fa fa-cube"></i></li>
                    </a>
                    <a ng-if="dashboard.clientType == 1 || dashboard.isAdmin == 1" href="" ui-sref="dashboard.awb-box" ui-sref="dashboard.awb-box" ng-if="!dashboard.collapse">
                        <li><i class="fa fa-cube"></i><span>{{ dashboard.lang.box_airway_bill }} </span></li>
                    </a>
                    <a href="" ui-sref="dashboard.stock_rooms" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.stock_rooms }}">
                        <li><i class="fa fa-cubes"></i></li>
                    </a>
                    <a href="" ui-sref="dashboard.stock_rooms" ng-if="!dashboard.collapse">
                        <li><i class="fa fa-cubes"></i><span>{{ dashboard.lang.stock_rooms }}</span></li>
                    </a>
                    <a href="" ui-sref="dashboard.shipping" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.shipping }}">
                        <li><i class="fa fa-truck"></i></li>
                    </a>
                    <a href="" ui-sref="dashboard.shipping" ng-if="!dashboard.collapse">
                        <li><i class="fa fa-truck"></i><span>{{ dashboard.lang.shipping }}</span></li>
                    </a>
                </div>
            </div>
            <div ng-if="dashboard.isAdmin == 1">
                <a href="" ui-sref="dashboard.warehouse" ng-if="dashboard.collapse" tooltip-placement="right" uib-tooltip="{{ dashboard.lang.warehouse }}">
                    <li class="list-menu"><i class="fa fa-home"></i></li>
                </a>
                <a href="" ui-sref="dashboard.warehouse" ng-if="!dashboard.collapse">
                    <li class="list-menu"><i class="fa fa-home"></i><span>{{ dashboard.lang.warehouse }}</span></li>
                </a>
            </div>
        </ul>
    </aside>
    <section ng-class="dashboard.collapse ? 'dashboard__content--collapsed':'dashboard__content'">
        <div ui-view>
            <div class="container-img">
                <img src="https://tucourier.com.ar/wp-content/uploads/2014/11/logo_home_2-1.png">
            </div>
        </div>
    </section>
</div>