<!-- PRECIOS FLETE  -->
<form class="well well-lg">
    <div class="pull-right" data-toggle="collapse" data-target="#collapse-flete"><i class="fa" style="cursor:pointer;" ng-class="airwaybill.collapsedFlete ? 'fa-plus':'fa-minus'" ng-click="airwaybill.collapsedFlete = !airwaybill.collapsedFlete"></i></div>
    <h3><i class="fa fa-truck"></i> Freight to BUE</h3>
    <div class="collapse" id="collapse-flete">
        <hr>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                <label class="control-label" for="fob">Total Weight (KG.)</label><br>
                <input id="fob" class="form-control" type="text" name="fob" ng-model="airwaybill.awb.weight" autocomplete="off" disabled>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                <label class="control-label" for="fob"> International Freight (Unit) (U$D)</label><br>
                <input id="fob" class="form-control" type="text" name="fob" ng-model="airwaybill.batch.flete_internacional" ng-blur="airwaybill.calcFlete()" autocomplete="off" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <h4>Total: U$D {{airwaybill.totalFlete }}.-</h4>
                </div>
                <div class="pull-right product-action">
                    <a href="" class="text-primary" ng-click="airwaybill.saveShipment()"> <i class="fa fa-save fa-2x"></i> </a>
                    <a href="" ng-click="airwaybill.showProductInfo = false" class="text-danger"> <i class="fa fa-close fa-2x" data-toggle="collapse" data-target="#collapse-flete"></i> </a>
                    <p class="text-primary">{{shipmentSave}}</p>
                </div>
            </div>
        </div>
    </div>
</form>