<form class="well well-lg">
    <h3><i class="fa fa-shopping-cart"></i> {{airwaybill.currentProduct.category}} - {{ airwaybill.currentProduct.product_name
        }}</h3>
    <hr>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-3">
            <label class="control-label" for="fob">FOB (U$D)</label><br>
            <input id="fob" class="form-control" type="text" name="fob" ng-model="airwaybill.currentProduct.price" ng-blur="airwaybill.calcProduct()"
                autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label class="control-label" for="flete">Flete (U$D) 2,80 U$D x KG</label><br>
            <input id="flete" class="form-control" type="text" name="flete" ng-model="airwaybill.currentProduct.flete" ng-blur="airwaybill.calcProduct()"
                autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label class="control-label" for="seguro">Seguro (U$D)</label><br>
            <input id="seguro" class="form-control" type="text" name="seguro" ng-model="airwaybill.currentProduct.seguro" ng-blur="airwaybill.calcProduct()"
                autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label class="control-label" for="cif">CIF (U$D)</label><br>
            <input id="cif" class="form-control" type="text" name="cif" disabled ng-model="airwaybill.currentProduct.cif" autocomplete="off"
                required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="derecho_percent">Derecho (%)</label><br>
            <input id="derecho_percent" class="form-control" type="text" name="derecho_percent" ng-model="airwaybill.currentProduct.derecho_percent"
                ng-blur="airwaybill.calcRights()" autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="derecho">Derecho (U$D)</label><br>
            <input id="derecho" class="form-control" type="text" name="derecho" disabled ng-model="airwaybill.currentProduct.derecho"
                ng-blur="airwaybill.calcRights()" autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="estadistica_percent">Estad&iacute;stica (%)</label><br>
            <input id="estadistica_percent" class="form-control" type="text" name="estadistica_percent" ng-model="airwaybill.currentProduct.estadistica_percent"
                ng-blur="airwaybill.calcRights()" autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="estadistica">Estad&iacute;stica (U$D)</label><br>
            <input id="estadistica" class="form-control" type="text" name="estadistica" ng-model="airwaybill.currentProduct.estadistica"
                ng-blur="airwaybill.calcRights()" disabled autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="total_derechos">Total Derechos (U$D)</label><br>
            <input id="total_derechos" class="form-control" type="text" name="total_derechos" ng-model="airwaybill.currentProduct.total_derechos"
                ng-blur="airwaybill.calcRights()" disabled autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="documentacion">Manejo Doc. BUE (U$D)</label><br>
            <input id="documentacion" class="form-control" type="text" name="documentacion" ng-model="airwaybill.currentProduct.documentacion"
                ng-blur="airwaybill.calcBaseIva()" autocomplete="off" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="base_iva">Base IVA (U$D)</label><br>
            <input id="base_iva" class="form-control" type="text" name="base_iva" disabled ng-model="airwaybill.currentProduct.base_iva"
                autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="iva_percent">IVA (%)</label><br>
            <input id="iva_percent" class="form-control" type="text" name="iva_porcentaje" ng-model="airwaybill.currentProduct.iva_percent"
                ng-blur="airwaybill.calcBaseIva()" autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="iva">IVA (U$D)</label><br>
            <input id="iva" class="form-control" type="text" name="iva" ng-model="airwaybill.currentProduct.iva" ng-blur="airwaybill.calcBaseIva()"
                disabled autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="iva_adic_percent">IVA Adic.(%)</label><br>
            <input id="iva_adic_percent" class="form-control" type="text" name="iva_adic_percent" ng-model="airwaybill.currentProduct.iva_adic_percent"
                ng-blur="airwaybill.calcBaseIva()" autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="iva_adic">IVA Adic.(U$D)</label><br>
            <input id="iva_adic" class="form-control" type="text" name="iva_adic" ng-model="airwaybill.currentProduct.iva_adic" ng-blur="airwaybill.calcBaseIva()"
                disabled autocomplete="off" required>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            <label class="control-label" for="total_iva">Total IVA</label><br>
            <input id="total_iva" class="form-control" type="text" name="total_iva" ng-model="airwaybill.currentProduct.total_iva" disabled
                autocomplete="off" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                <h4 style="color:red;font-weight:bold;">Total Impuestos {{ airwaybill.currentProduct.product_name }}: U$D {{airwaybill.currentProduct.total }}.-</h4>
            </div>
            <div class="pull-right product-action" ng-if="airwaybill.currentProduct.state != 4">
                <a href="" class="text-primary"> <i class="fa fa-save fa-2x"></i> </a>
                <a href="" ng-click="airwaybill.showProductInfo = false" class="text-danger"> <i class="fa fa-close fa-2x"></i> </a>
            </div>
        </div>
    </div>
</form>