<div class="process_payments container-fluid" ng-cloak>
	<link rel="stylesheet" type="text/css" href="./dist/routes/process_payments/process_payments.css">
	<h3><i class="fa fa-usd"></i> Procesar pagos</h3>
	<hr>
	<div class="col-xs-12 content">

		<table class="table table-bordered table-striped table-curved rounded">
			<div class="col-xs-6 form-inline" style="margin-bottom:10px;float:right">
				<div class="form-group pull-right">
					<label for="loteseach">Buscar N° Lote   
						<input style="margin-left:5px;" id="loteseach"  type="search" ng-model="searchLote" name="lote" placeholder="buscar lote" class="form-control">
					</label>
				</div>			
			</div>
			<form style="vertical-align: middle;">
				<div class="col-xs-5" style="margin-top: 5px;">
					<label class="radio-inline">
						<input ng-value="" checked="checked" ng-model="selectedFilter" type="radio" name="optradio">Ver todos
					</label>
					<label class="radio-inline">
						<input ng-value="1" ng-model="selectedFilter" type="radio" name="optradio">Filtrar pagados
					</label>
					<label class="radio-inline">
						<input ng-value="0" ng-model="selectedFilter" type="radio" name="optradio">Filtrar sin pagar
					</label>	
				</div>	
			</form>
			<thead>
				<tr>
					<td><span>Lote #</span></td>
					<td><span>Peso Excedente</span></td>
					<td><span>Precio Parcial</span></td>					
					<td><span>Tasas e Intereses</span></td>					
					<td><span>Cantidad total</span></td>
					<td><span>Gastos Transporte</span></td>
					<td><span>Fecha de solicitud</span></td>					
					<td><span>Peso Total </span></td>
					<td><span>Total</span></td>
					<td><span>Ver m&aacute;s</span></td>
					<td><span>Acciones</span></td>
				</tr>
			</thead>
			<tbody>
				<tr  ng-repeat="venta in processPayments.ventas |filter: { state: selectedFilter,  id: searchLote }  track by $index">
					<td><span>{{ venta.id }}</span></td>
					<td><span>{{ venta.peso_excedente }}</span></td>
					<td><span>${{ venta.parcial_price }}</span></td>					
					<td><span>${{ venta.tasas }}</span></td>					
					<td><span>{{ venta.total_quantity }}</span></td>
					<td><span>${{ venta.transporte }}</span></td>
					<td><span>{{ venta.timestamp | date:'MM/dd/yyyy'}}</span></td>
					<td><span>{{ venta.peso_total }}</span></td>
					<td><span>${{ venta.total }}</span></td>
					<td><button ng-click="processPayments.processPayment(venta, venta.products)" class="btn btn-default"> VER M&Aacute;S </button> </td>
					<td ng-if="venta.paymentGatewayUrl" ng-class="venta.state == 1 ? 'payed' : 'unpayed' "><span ng-bind="venta.state == 0 ? 'Pendiente de pago' : 'Pagado'"></span></td>						
					<td ng-if="!venta.paymentGatewayUrl">
						<button ng-click="processPayments.processPayment(venta, venta.products)" class="btn btn-default"> PROCESAR VENTA </button> 
					</td>
				</tr>
			</tbody>
		</table>
<!-- 		<uib-pagination next-text="Siguiente" previous-text="Anterior" total-items="3" data-num-pages="1"
	ng-model="1" class="pagination-sm" items-per-page="3" boundary-link-numbers="true"></uib-pagination> -->
</div>
<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<h3 ng-if="!modaProcess.venta.paymentGatewayUrl" class="modal-title" id="modal-title">Procesar venta</h3>
		<h3 ng-if="modaProcess.venta.paymentGatewayUrl" class="modal-title" id="modal-title">Consultar venta</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="well well-lg">
			<span class="help-block">
				<h4><i class="fa fa-users"></i> Informaci&oacute;n de usuario: </h4>
				<ul>
					<div class="row">			

						<div class="col-xs-6">
							<li><strong>Nombre: </strong> <span>{{modaProcess.user.name }} {{modaProcess.user.lastname }}</span></li>
							<li><strong>Direcci&oacute;n: </strong> <span>{{modaProcess.user.address }}, {{ modaProcess.user.localidad }}</span></li>
							<li><strong>C&oacute;digo Postal: </strong> <span>{{modaProcess.user.postalcode }}</span></li>
						</div>
						<div class="col-xs-6">
							<li><strong>email: </strong> <span>{{modaProcess.user.email }}</span></li>
							<li ng-if="modaProcess.user.tel > 0"><strong>tel: </strong> <span>{{modaProcess.user.tel }}</span></li>
							<li ng-if="modaProcess.user.codeType == 2"><strong>N° Cuil: </strong> <span>{{modaProcess.user.idCode }}</span></li>
							<li ng-if="modaProcess.user.codeType == 1"><strong>N° Cuit: </strong> <span>{{modaProcess.user.idCode }}</span></li>
						</div>
					</div>
				</ul>
			</span>
		</div>
		<table class="table table-bordered table-striped table-curved rounded">
			<h4>Productos en el lote</h4>
			<thead>
				<tr>
					<td><span>Tipo de producto</span></td>
					<td><span>Cantidad</span></td>
					<td><span>Precio Ind. </span></td>
					<td><span>Precio Total</span></td>
					<td><span>Establecimiento</span></td>
					<td><span>Peso Ind.</span></td>
					<td><span>Peso Total</span></td>
					<td><span>N&uacute;m. Factura</span></td>
					<td><span>Prestador Postal</span></td>
					<td><span>N&uacute;m Tracking</span></td>
					<td><span>Factura</span></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in modaProcess.products track by $index">
					<td><span>{{ product.productType }}</span></td>
					<td><span>{{ product.quantity }}</span></td>
					<td><span>{{ product.price / product.quantity }}</span></td>
					<td><span>{{ product.price }}</span></td>
					<td><span>{{ product.establishment }}</span></td>
					<td><span>{{ product.weight / product.quantity }}</span></td>
					<td><span>{{ product.weight }}</span></td>
					<td><span>{{ product.bill_number }}</span></td>
					<td><span>{{ product.postal }}</span></td>
					<td><span>{{ product.tracking_number }}</span></td>
					<td><span><i class="fa fa-file-pdf-o"></i></span></td>
				</tr>
			</tbody>
		</table>
		<div ng-if="modaProcess.venta.paymentGatewayUrl">
			<strong>Url de pago: </strong> <span>{{modaProcess.venta.paymentGatewayUrl }}</span>
		</div>
		<form ng-if="!modaProcess.venta.paymentGatewayUrl">
			<div class="form-group">
				<label class="label-group"> URL de pago exitoso  |  <a ng-click="modaProcess.generateToken()"><i class="fa fa-link"></i> Generar url de pago exitoso </a> </label>
				<input class="form-control" type="url" ng-model="modaProcess.successUrl" name="success" placeholder="Url de pago exitoso" required autocomplete="off">
				
			</div>
			<div class="form-group">
				<label class="label-group"> URL de pago  |  <a href="https://portal.todopago.com.ar/app/#login" target="_blank"><i class="fa fa-credit-card"></i> ir a todo pago </a> </label>
				<input class="form-control" type="url" ng-model="modaProcess.paymentGatewayUrl" name="url" placeholder="Url de bot&oacute;n de pago" required autocomplete="off">
				
			</div>
		</form>



	</div>
	<div class="modal-footer">
		<button ng-if="!modaProcess.venta.paymentGatewayUrl" class="btn btn-hbr-blue" ng-click="modaProcess.send()">Guardar</button>
		<button class="btn btn-hbr-blue" ng-click="modaProcess.cancel()">Cerrar</button>
	</div>
</script>
</div>