<div class="process_payments container-fluid" ng-cloak>
    <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/process_payments/process_payments.css">
    <h3><i class="fa fa-dropbox"></i>Manage Lots</h3>
    <hr>
    <div class="col-xs-12 content" ng-if="!processPayments.ventas.length && $root.showSpinner == false">
        <div class="row">
            <div class="empty-list">
                <h3>No purchases have been registered yet.</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 content" ng-if="processPayments.ventas.length">
        <h4>Search by:</h4>
        <div class="row">
            <div class="col-xs-3">
                <label for="">Lot Number</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="Lot Number" ng-model="searchLote">
                </div>
            </div>
            <div class="col-xs-3">
                <label for="">Expired days</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="Exp. Days" ng-model="expired">
                </div>
            </div>
            <div class="col-xs-3">
                <label for="">Req. Date</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input type="text" name="search" class="form-control" placeholder="Req. Date" ng-model="date">
                </div>
            </div>
        </div>
        <table class="table table-bordered table-curved rounded">
            <thead>
                <tr>
                    <td><span>Lot #</span></td>
                    <td style="width: 100px;"><span>Request Date</span></td>
                    <td style="width: 100px;"><span>Client</span></td>
                    <td><span>Price</span></td>
                    <td><span>Total Weight</span></td>
                    <td><span>Products quantity </span></td>
                    <td><span>Products remaining </span></td>
                    <td><span>Amount of AWB</span></td>
                    <td><span>Total Warehouse</span></td>
                    <td><span>Total Freight</span></td>
                    <td><span>Total</span></td>
                    <td><span>Total Taxes <br> (to pay upon delivery)</span></td>
                    <td><span>Status</span></td>
                    <td><span>Days since request</span></td>
                    <td style="width:50px"><span>Actions</span></td>
                </tr>
            </thead>
            <tbody class="batch-table">
                <tr ng-class="venta.readed == 1? 'readed': ''" ng-repeat="venta in filtered = ( processPayments.ventas |filter: { state: selectedFilter,daysSinceRequest: expired, timestamp: date,  id: searchLote }) | orderBy: '-dtOrder' | start: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage | filter : paginate track by $index">
                    <td><span>{{ venta.id }}</span><br><span style="color:red;font-weight:bold;" ng-if="venta.readed == 0">New!</span></td>
                    <td><span>{{ venta.timestamp }}</span></td>
                    <td><span>{{ venta.user[0].company_real_name }} {{ venta.user[0].name }} {{ venta.user[0].lastname }}</span></td>
                    <td><span>${{ venta.parcial_price }}</span></td>
                    <td><span>{{ venta.total_weight }}</span></td>
                    <td><span>{{ venta.total_quantity }}</span></td>
                    <td><span>{{ venta.total_remaining_quantity }}</span></td>
                    <td><span>{{venta.guide_amount}}</span></td>
                    <td>
                        <span ng-if="venta.totalWarehouse > 0">{{ venta.totalWarehouse | currency}}</span>
                        <span ng-if="venta.totalWarehouse == 0">No Info.</span>
                    </td>
                    <td>
                        <span ng-if="venta.totalFlete > 0">{{ venta.totalFlete | currency}}</span>
                        <span ng-if="venta.totalFlete == 0">No Info.</span>
                    </td>
                    <td>
                        <span ng-if="venta.total > 0">{{ venta.total | currency}}</span>
                        <span ng-if="venta.total == 0">No Info.</span>
                    </td>
                    <td>
                        <span ng-if="venta.totalImpuestos > 0">{{ venta.totalImpuestos | currency}}</span>
                        <span ng-if="venta.totalImpuestos == 0">No Info.</span>
                    </td>
                    <td><span>{{ venta.status }} <i ng-if="venta.status === 'Finished by Admin.'" style="font-size: 14px;vertical-align: middle;margin: 0;padding: 5px;" class="fa fa-info-circle" tooltip-placement="top" uib-tooltip="{{venta.reason}}"></i></span></td>
                    <td><span ng-class="processPayments.daysSinceRequest < 7 ? 'text-sucess':'text-danger'"><b>{{ venta.daysSinceRequest }}</b></span></td>
                    <td ng-if="venta.paymentGatewayUrl" ng-class="venta.state == 1 ? 'payed' : 'unpayed' "><span ng-bind="venta.state == 0 ? 'Pendiente de pago' : 'Pagado'"></span></td>
                    <td ng-if="!venta.paymentGatewayUrl">
                        <div style="display: flex;flex-direction: row; justify-content: space-between">
                            <a tooltip-placement="top" uib-tooltip="Make AWB" ng-click="processPayments.setGuides(venta, venta.bills)"><i class="fa fa-gear"></i></a>
                            <a ng-if="venta.status !== 'Finished' && venta.status !== 'Finished by Admin.'" tooltip-placement="right" uib-tooltip="Finish Lot" ng-click="processPayments.finishLot(venta)"> <i class=" fa fa-share-square-o"></i></a>
                            <i ng-if="venta.status === 'Finished' || venta.status === 'Finished by Admin.'" style="color:#ccc;padding-top: 3px;" class="fa fa-share-square-o"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <uib-pagination next-text="Siguiente" previous-text="Anterior" total-items="filtered.length" data-num-pages="shoppingList.noOfPages" ng-model="currentPage" class="pagination-sm pull-right" items-per-page="itemsPerPage" boundary-link-numbers="true"></uib-pagination>
    </div>

    <div ng-include src="'hbr-selfie/dist/routes/process_payments/modals/processPayments.template.html'"></div>
    <div ng-include src="'hbr-selfie/dist/routes/process_payments/modals/makeGuides.template.html'"></div>
    <div ng-include src="'hbr-selfie/dist/routes/process_payments/modals/finish-lot.template.html'"></div>
</div>