<div class="profile container-fluid" ng-cloak>
	<link rel="stylesheet" type="text/css" href="./dist/routes/profile/profile.css">
	<h3><i class="fa fa-user"></i> Editar Perfil</h3>
	<hr>
	<div class="col-xs-12 content">
		<form name="shopping.shoppingForm" novalidate data-ng-submit="shopping.shoppingForm.$valid && !shopping.shoppingForm.$pristine && shopping.shoppingForm.$submitted && shopping.buy()">
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">Nombre</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">Apellido</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">Tel&eacute;fono Fijo</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">Tel&eacute;fono Celular</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-mobile"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">E-Mail</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">Cuit</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-hashtag"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">Direcci&oacute;n de entrega</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-map"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">Localidad</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-map"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-4" data-ng-class="{'has-error': shopping.shoppingForm.name.$invalid && shopping.shoppingForm.$submitted}">
				<label class="control-label" for="name">C&oacute;digo postal</label><br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-map"></i></span>
					<input  id="name" class="form-control" type="text" name="name" ng-model="shopping.purchase.name" placeholder="Nombre"  autocomplete="off" required>
				</div>
			</div>
			<div class="form-group col-xs-12 ">
				<button class="btn btn-hbr-blue pull-right">Cancelar</button>
				<button class="btn btn-hbr-blue pull-right">Editar Perfil</button>

			</div>
		</form>
	</div>
</div>