<div class="category wh-modal container-fluid" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modalDeletecategory.cancel()">&times;</button>
        <h3><i class="fa fa-book"></i> Delete Category</h3>
    </div>
    <div class="modal-body">
        <p>¿ Are you sure that you want to delete the category: {{modalDeletecategory.category.name}} ?
            <br>
            <br>
        <strong><i class="fa fa-warning"></i>If you delete a category, it will remove all products associated to it.</strong></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-hbr-blue" ng-click="modalDeletecategory.deletecategory()">Delete</button>
        <button class="btn btn-hbr-blue" ng-click="modalDeletecategory.cancel()">Cancel</button>
    </div>
</div>