<div class="process_payments container-fluid" ng-cloak>
    <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/process_payments/process_payments.css">
    <h3><i class="fa fa-plane"></i> Ver Gu&iacute;as</h3>
    <hr>
    <div class="col-xs-12 content" ng-if="!airwayList.guides.length && $root.showSpinner == false">
        <div class="row">
            <div class="empty-list">
                <h3>No se han registrado Gu&iacute;as a&uacute;n.</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 content" ng-if="airwayList.guides.length">
        <table class="table table-bordered table-striped table-curved rounded">
            <div class="row">
                <div class="col-xs-3">
                    <label for="">Buscar por Lote</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                        <input type="text" name="search" class="form-control" placeholder="Buscar por lote" ng-model="searchByBatch">
                    </div>
                </div>
                <div class="col-xs-3">
                    <label for="">Buscar por Gu&iacute;a</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i  class="fa fa-search"></i></span>
                        <input type="text" name="search" class="form-control" placeholder="Buscar por gu&iacute;a" ng-model="searchByAwb">
                    </div>
                </div>
                <div class="col-xs-5">
                    <label for="">Buscar por Tracking</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i  class="fa fa-search"></i></span>
                        <input type="text" name="search" class="form-control" placeholder="Buscar por Tracking" ng-model="searchByTracking">
                    </div>
                </div>
            </div>
            <thead>
                <tr>
                    <td><span>Compra</span></td>
                    <td><span>Gu&iacute;a</span></td>
                    <td><span>Cant. prod.</span></td>
                    <td><span>Peso Total</span></td>
                    <td><span>Prestador</span></td>
                    <td><span>Tracking</span></td>
                    <td><span>Warehouse</span></td>
                    <td><span>Salida</span></td>
                    <td><span>Arribo Estimado</span></td>
                    <td><span>Total</span></td>
                    <td><span>Estado</span></td>
                    <td style="width:155px"><span>Acciones</span></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="guide in filtered = (airwayList.guides | filter: { ventaId: searchByBatch } | filter: { number: searchByAwb } | filter: { hbr_tracking: searchByTracking }) | orderBy: '-ventaId'  | start: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage | filter : paginate  track by $index" id="guide_list_{{guide.number}}">
                    <td><span>{{ guide.ventaId }}</span></td>
                    <td><span>{{ guide.number }}</span></td>
                    <td><span>{{ guide.quantity }}</span></td>
                    <td><span>{{ guide.weight }} Kg.</span></td>
                    <td ng-if="guide.hbr_postal_provider.length"><span>{{ guide.hbr_postal_provider }}</span></td>
                    <td ng-if="!guide.hbr_postal_provider.length"><span class="text-danger">Procesando..</span></td>
                    <td ng-if="guide.hbr_tracking.length"><span>{{ guide.hbr_tracking }}</span></td>
                    <td ng-if="!guide.hbr_tracking.length"><span class="text-danger">Procesando..</span></td>
                    <td><span>{{ guide.warehouse[0].name }}</span></td>
                    <td ng-if="guide.leaveDate.length"><span>{{ guide.leaveDate *1000 | date:'dd-MM-yyyy'}}</span></td>
                    <td ng-if="!guide.leaveDate.length"><span class="text-danger">Procesando..</span></td>
                    <td ng-if="guide.arrivalDate.length"><span>{{ guide.arrivalDate  *1000 | date:'dd-MM-yyyy'}}</span></td>
                    <td ng-if="!guide.arrivalDate.length"><span class="text-danger">Procesando..</span></td>
                    <td><span>{{ guide.billing_total | currency }}</span></td>
                    <td>
                        <span ng-if="guide.state == 2 && guide.paymentMethod != 1" class="text-danger">Pago no registrado</span>
                        <span ng-if="guide.state == 3" class="text-success">Pagado</span>
                    </td>
                    <td>
                        <div class="flex-row">
                            <div ng-if="guide.state == 2 && guide.paymentMethod == 1" style="width:100%;min-width: 100px;" ng-bind-html="guide.paymentButton" rel="payment_button" class="col-xs-5"></div>

                                <button style="margin:0px 5px;" class="btn btn-default" ng-click="airwayList.seeMore(guide, guide.products)"><i class="fa fa-plus"></i> Info </button>

                              <a class="pull-right" target="_blank" href="http://tucourier.aftership.com/{{ guide.hbr_tracking }}?" ng-disabled="guide.state != 3"><button ng-disabled="guide.state != 3" class="btn btn-default"><i class="fa fa-plane"></i> Track</button></a>

                           </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
          <uib-pagination next-text="Siguiente" previous-text="Anterior" total-items="filtered.length" data-num-pages="shoppingList.noOfPages" ng-model="currentPage" class="pagination-sm pull-right" items-per-page="itemsPerPage" boundary-link-numbers="true"></uib-pagination>
    </div>
</div>
<div ng-include src="'hbr-selfie/dist/routes/airwaybill_list/modals/airwaydesc.template.html'"></div>