<div class="product container-fluid" ng-cloak>
        <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/products/products.css">
        
    <div>
        <h3 class="pull-left"><i class="fa fa-list-alt"></i> Administrar Productos</h3>
        <button class="btn btn-hbr-blue pull-right" ng-click="products.newproduct()"><i class="fa fa-plus"></i> Productos
        </button>
    </div>
    <br><br>
    <hr>

    <table class="table table-bordered table-striped table-curved rounded">
        <thead>
        <tr>
            <td><span>Categor&iacute;a</span></td>
            <td><span>Producto</span></td>
            <td><span>Descripci&oacute;n</span></td>
            <td><span>Derecho </span></td>
            <td><span>Tasa estad&iacute;stica</span></td>
            <td><span>IVA</span></td>
            <td><span>IVA Adic.</span></td>
            <td><span>Acciones</span></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products.products   track by $index">
            <td><span> {{product.category_name }}</span></td>
            <td><span> {{product.name }}</span></td>
            <td class="long-text"><p  tooltip-placement="right" uib-tooltip="{{product.description}}"> {{product.description }}</p></td>
            <td><span> {{product.imp_rights }}% </span></td>
            <td><span> {{product.imp_estadistic_rate }}% </span></td>
            <td><span> {{product.imp_iva }}% </span></td>
            <td><span> {{product.imp_iva_adic }}% </span></td>

            <td class="actions">
                <i ng-if="product.isPremium == '1'" class="fa fa-star-o star-border"  tooltip-placement="right" uib-tooltip="Quitar Premium" ng-click="products.changeprivileges(product)"></i>
                <i ng-if="product.isPremium == '1'" class="fa fa-star" tooltip-placement="right" uib-tooltip="Quitar Premium" style="color:gold" ng-click="products.changeprivileges(product)"></i>
                <i ng-if="product.isPremium == '0'" class="fa fa-star-o" tooltip-placement="right" uib-tooltip="Hacer Premium" ng-click="products.changeprivileges(product)"></i>
                <i class="fa fa-edit" tooltip-placement="left" uib-tooltip="Editar"
                   ng-click="products.editproduct(product)"></i>
                <i class="fa fa-close" tooltip-placement="top" uib-tooltip="Eliminar"
                   ng-click="products.removeproduct(product)"></i>

            </td>
        </tr>
        </tbody>
    </table>
</div>
