<div class="stock-rooms container-fluid" ng-cloak>
        <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/wh-box/stock-rooms/stock-rooms.css">
        
    <h3> <i class="fa fa-cubes"></i> {{stockRooms.lang.room.title}}</h3>
    <hr>
    <div class="action-menu">
        <div ng-if="stockRooms.isAdmin == 1 || stockRooms.clientType == 2" class="col-xs-2">
            <div class="input-group">
                <button class="btn btn-hbr-blue" ng-click="stockRooms.addBox()"><i class="fa fa-plus"></i>{{stockRooms.lang.room.filter.add}}</button>
            </div>
        </div>
        <div ng-class="(stockRooms.isAdmin == 1 || stockRooms.clientType == 2) ? 'col-xs-10' : 'col-xs-12'">
            <div class="input-group">
                <input id="{{filterField}}" type="text" class="form-control" placeholder="{{stockRooms.lang.room.filter.placeholder}}" ng-model="stockRooms.searchBy">
                <span class="input-group-btn">
                    <div class="btn-group">
                        <div uib-dropdown is-open="status.isopen">
                            <button class="btn btn-hbr-blue" uib-dropdown-toggle type="button">{{ stockRooms.filterName }} <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-if="stockRooms.isAdmin == 1" role="menuitem"><a ng-click="stockRooms.setFilter('company_name', stockRooms.lang.room.filter.list.client_name)">{{stockRooms.lang.room.filter.list.client_name}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('id',stockRooms.lang.room.filter.list.box_id)">{{stockRooms.lang.room.filter.list.box_id}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('awb_boxes_id',stockRooms.lang.room.filter.list.awb_boxes_id)">{{stockRooms.lang.room.filter.list.awb_boxes_id}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('shipping_box_id',stockRooms.lang.room.filter.list.shipping_box_id)">{{stockRooms.lang.room.filter.list.shipping_box_id}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('bill',stockRooms.lang.room.filter.list.bill)">{{stockRooms.lang.room.filter.list.bill}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('warehouse_name', 'Warehouse')">Warehouse</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('ageGreater', stockRooms.lang.room.filter.list.age_greater)">{{stockRooms.lang.room.filter.list.age_greater}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('ageLess', stockRooms.lang.room.filter.list.age_less)">{{stockRooms.lang.room.filter.list.age_less}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('status', stockRooms.lang.room.filter.list.status); stockRooms.searchBy = stockRooms.lang.room.filter.list.status_finished"> {{stockRooms.lang.room.filter.list.status}}: {{stockRooms.lang.room.filter.list.status_finished}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('status', stockRooms.lang.room.filter.list.status); stockRooms.searchBy = stockRooms.lang.room.filter.list.status_inprogress">{{stockRooms.lang.room.filter.list.status}}: {{stockRooms.lang.room.filter.list.status_inprogress}}</a></li>
                    <li role="menuitem"><a ng-click="stockRooms.setFilter('', stockRooms.lang.room.filter.default)">{{stockRooms.lang.room.filter.list.remove}}</a></li>
                </ul>
            </div>
        </div>
        <span class="btn-group">
                <button class="btn btn-hbr-blue btn-search" ng-click="stockRooms.applyFilter()"><i class="fa fa-search"></i></button>
            </span>
        </span>
    </div>
</div>
<div class="col-xs-12" ng-if="stockRooms.multipleFilter.length">
    <div class="filterBoxes">
        <div class="badge" ng-repeat="filter in stockRooms.multipleFilter track by $index"><span>{{ filter.filterName }}: {{ filter.searchBy }}</span><a ng-click="stockRooms.removeFilter($index)"><i class="fa fa-close"></i></a></div>
    </div>
</div>
</div>

<div class="boxes col-xs-12">
    <div class="help-block" ng-if="!stockRooms.filteredBoxes.length">
        <h3 class="text-center">{{stockRooms.lang.room.filter.not_found}}</h3>
    </div>

    <div class="stock-card col-xs-4" ng-repeat="box in stockRooms.filteredBoxes track by $index" ng-if="stockRooms.filteredBoxes.length">
        <div class="stock-card__header">
            <h4>Box #{{box.id}}</h4>
            <h4 ng-if="box.status == 0 && (stockRooms.clientType == 2 || stockRooms.isAdmin)">
                <i style="color:#8388A4" uib-popover-template="'finish-box.html'" popover-class="help  delete-box" popover-placement="top" data-toggle="popover" popover-trigger="outsideClick" class="fa fa-mail-forward"></i>
                <i ng-click="stockRooms.editBox(box, $index)" class="fa fa-pencil"></i>
                <i style="color:#ED5E68" uib-popover-template="'delete-box.html'" popover-class="help  delete-box" popover-placement="top" data-toggle="popover" popover-trigger="outsideClick" class="fa fa-close"></i>
            </h4>
            <h4 ng-if="box.status == 1 && (stockRooms.clientType == 2 || stockRooms.isAdmin)">
                <i style="color:#ED5E68" class="fa fa-check"></i>
            </h4>
        </div>
        <ul class="stock-card__data">
            <li><b> <i class="fa fa-user"></i> {{box.user.company_name}}</b></li>
            <li><b>{{stockRooms.lang.box.age}}:</b> {{box.age}} {{stockRooms.lang.box.age_unit}}</li>
            <li><b>{{stockRooms.lang.box.created}}:</b> {{ box.created | date : "dd/MM/yyyy HH:mm" }}</li>
            <li><b>Awb Box:</b> #{{box.awb_boxes_id}}</li>
            <li><b>Warehouse:</b> {{box.warehouse.name}}</li>
        </ul>
        <div class="stock-card__footer">
            <span>{{stockRooms.lang.box.weight}}: <span ng-bind="box.box_partial_weight > 0 ? box.box_partial_weight + ' Kg.' : stockRooms.lang.box.processing"> </span></span>
            <span>Stock: {{box.quantity}}</span>
            <span><i class="fa" popover-is-open="isOpen" ng-class="!isOpen ? 'fa-search' : 'fa-close'" uib-popover-template="'stock-card-info.html'" popover-class="help" popover-placement="top" data-toggle="popover" popover-trigger="outsideClick"></i></span>
        </div>
    </div>
</div>
<div class="footer">
    <span>{{stockRooms.lang.room.weight}}: {{stockRooms.room.weight }} Kg.</span>
    <span>{{stockRooms.lang.room.stock}}:  {{stockRooms.room.stock}}  </span>
    <span>{{stockRooms.lang.room.box_qty}}:  {{stockRooms.filteredBoxes.length }}  </span>
    <span>{{stockRooms.lang.room.value}}: {{stockRooms.room.room_val | currency }} </span>
    <span>{{stockRooms.lang.room.shipping_val}}: {{stockRooms.room.shipping_val | currency }} </span>
    <span>{{stockRooms.lang.room.warehouse_val}}: {{stockRooms.room.warehouse_val | currency }} </span>
</div>
</div>
</div>
<div ng-include="'hbr-selfie/dist/routes/wh-box/stock-rooms/box.template.html'"></div>
<script type="text/ng-template" id="delete-box.html">
    <div class="col-xs-12 delete-title">
        {{ stockRooms.lang.box.delete.msg }}
    </div>
    <div class="col-xs-12 no-padding delete-body">
        <button class="btn-flat btn-flat-danger" ng-click="stockRooms.deleteBox($index, box)">
        {{ stockRooms.lang.box.delete.confirm }}
        </button>

        <button class="btn-flat btn-flat-default" ng-click="stockRooms.cancelDeleteBox()">
         {{ stockRooms.lang.box.delete.cancel }}
         </button>
    </div>
</script>
<script type="text/ng-template" id="finish-box.html">
    <div class="col-xs-12 delete-title">
        {{ stockRooms.lang.box.finish.msg }}
    </div>
    <div class="col-xs-12 no-padding delete-body">
        <button class="btn-flat btn-flat-success" ng-click="stockRooms.finishBox($index, box)">
        {{ stockRooms.lang.box.finish.confirm }}
        </button>

        <button class="btn-flat btn-flat-default" ng-click="stockRooms.cancelDeleteBox()">
         {{ stockRooms.lang.box.delete.cancel }}
         </button>
    </div>
</script>