<div class="awb-box container-fluid" ng-cloak>
        <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/wh-box/awb-box/awb-box.css">
        
    <h3><i class="fa fa-plane"></i> {{lang.title }} </h3>
    <hr>
    <div class="action-menu">
        <div ng-if="awb.clientType != 2 || awb.isAdmin == 1" class="col-xs-2">
            <div class="input-group">
                <button class="btn btn-hbr-blue" ng-click="awb.addBox()"><i class="fa fa-plus"></i>{{lang.filter.add}}</button>
            </div>
        </div>
        <div ng-class="awb.clientType == 2 ? 'col-xs-12': 'col-xs-10'">
            <div class="input-group">
                <input id="{{filterField}}" type="text" class="form-control" placeholder="{{lang.filter.placeholder}}" ng-model="awb.searchBy">
                <span class="input-group-btn">
                    <div class="btn-group">
                        <div uib-dropdown is-open="status.isopen">
                            <button class="btn btn-hbr-blue" uib-dropdown-toggle type="button">{{ awb.filterName }} <span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-if="awb.isAdmin == 1" role="menuitem"><a ng-click="awb.setFilter('company_name', lang.filter.list.client_name)">{{lang.filter.list.client_name}}</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('id',lang.filter.list.box_id)">{{lang.filter.list.box_id}}</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('provider',lang.filter.list.provider)">{{lang.filter.list.provider}}</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('tracking',lang.filter.list.tracking)">{{lang.filter.list.tracking}}</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('bill',lang.filter.list.bill)">{{lang.filter.list.bill}}</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('warehouse_name', 'Warehouse')">Warehouse</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('ageGreater', lang.filter.list.age_greater)">{{lang.filter.list.age_greater}}</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('ageLess', lang.filter.list.age_less)">{{lang.filter.list.age_less}}</a></li>
                    <li role="menuitem"><a ng-click="awb.setFilter('', lang.filter.default)">{{lang.filter.list.remove}}</a></li>
                </ul>
            </div>
        </div>
        <span class="btn-group">
            <button class="btn btn-hbr-blue btn-search" ng-click="awb.applyFilter()"><i class="fa fa-search"></i></button>
        </span>
    </div>
</div>
</div>
<div class="col-xs-12" ng-if="awb.multipleFilter.length">
    <div class="filterBoxes">
        <div class="badge" ng-repeat="filter in awb.multipleFilter track by $index"><span>{{ filter.filterName }}: {{ filter.searchBy }}</span><a ng-click="awb.removeFilter($index)"><i class="fa fa-close"></i></a></div>
    </div>
</div>

<div class="col-xs-12">
    <div class="help-block" ng-if="!awb.filteredBoxes.length">
        <h3 class="text-center">{{lang.filter.not_found}}</h3>
    </div>
</div>
<div class="col-xs-12">
    <div class="col-xs-12 clearfix col-sm-6 awb-card" ng-repeat="box in awb.filteredBoxes | orderBy: '-created' ">
        <div ng-include="'hbr-selfie/dist/routes/wh-box/awb-box/awb-box.model.html'"></div>
    </div>
</div>
</div>

<script type="text/ng-template" id="delete-box.html">
    <div class="col-xs-12 delete-title">
        {{ lang.awb.delete.msg }}
    </div>
    <div class="col-xs-12 no-padding delete-body">
        <button class="btn-flat btn-flat-danger" ng-click="awb.deleteBox($index, box)">
        {{ lang.awb.delete.confirm }}
        </button>

        <button class="btn-flat btn-flat-default" ng-click="awb.cancelDeleteBox()">
         {{ lang.awb.delete.cancel }}
         </button>
    </div>
</script>