<script type="text/ng-template" id="makeGuides.html">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="guides.cancel()">&times;</button>
			<h3 class="modal-title" id="modal-title">Armar Gu&iacute;as</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<table class="table overflow-table table-bordered table-striped table-curved rounded">
					<thead>
						<tr>
							<td><span>N° Factura</span></td>
							<td><span>Tracking</span></td>
							<td><span>Prestador Postal</span></td>
							<td><span>Tienda de compra</span></td>                            
							<td><span>Cant. Productos</span></td>
							<td><span>Peso Total</span></td>
							<td><span>Precio Total</span></td>
							<td><span>Factura</span></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="bill in guides.bills track by $index">
							<td><a ng-click="guides.selectBill(bill)"> {{ bill.number }} <i ng-class="guides.selectedBill.products.length ? 'fa fa-folder-open': 'fa fa-folder'"></i></a></td>
							<td><span>{{ bill.tracking_number }}</span></td>
							<td><span>{{ bill.provider }}</span></td>
							<td><span>{{bill.establishment }}</span></td>
							<td><span>{{ bill.quantity }}</span></td>
							<td><span>{{ bill.total_weight }} KG. </span></td>
							<td><span>{{ bill.total_price }}</span></td>
							<td><span><a  target="_self" href="http://localhost/hbr-selfie/{{ bill.bill_file_path }}"  download="{{ bill.bill_file_name }}"><i class="fa fa-file-pdf-o"></i></a></span></td>
						</tr>
					</tbody>
				</table>

				 <table class="table overflow-table table-bordered table-striped table-curved rounded" ng-if="guides.selectedBill.products.length">
					 <h3 ng-if="guides.selectedBill.products.length">Products</h3>
					<thead>
						<tr>
							<td><span> Categor&iacute;a </span></td>
							<td><span> Producto </span></td>
							<td><span> Cant. </span></td>
							<td><span> Precio </span></td>
							<td><span> Peso </span></td>
							<td><span>Acciones</span></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in guides.selectedBill.products track by $index">
							<td>{{ product.category_name }}</td>
							<td>{{ product.name }} </td>
							<td>{{ product.quantity }} </td>
							<td>{{ product.price | currency }}</td>
							<td>{{ product.weight }} KG.</td>
							<td>
									<div ng-if="product.quantity > 0">
										<div class="col-xs-3">
											<input type="number" ng-model="guides.selectedQuantity[$index]" placeholder="Cant." class="form-control" min="1" max="{{ product.quantity }}">
										</div>
										<div class="col-xs-6 no padding">
											<select class="form-control selectedGuide" ng-options="guide.number for guide in guides.guideBatch track by guide.number" name="guide" id="guide" ng-model="guides.selectedGuide[$index]">
												<option value="" disabled="disabled">-- N° Gu&iacute;a --</option>
											 </select>
										</div>
										<div class="col-xs-3">
											<button ng-disabled="guides.selectedQuantity[$index] == null || guides.selectedGuide[$index] == null" ng-click="guides.addToGuide(product, guides.selectedGuide[$index].number, guides.selectedQuantity[$index] )" class="btn btn-default">Agregar</button>
										</div>
									</div>
								</td>
						</tr>
					</tbody>
				 </table>
					<!--<table class="table table-bordered table-striped table-curved rounded" ng-hide="guides.hideTable">
						<div class="col-xs-6">
							<h4>Productos en el lote</h4>
						</div>
						<div class="col-xs-6 no-padding">
							<div class="controls">
								<button ng-click="guides.activeEditing = true" class="btn btn-default">Editar Peso Real</button>
								<button class="btn btn-default"><i class="fa fa-save"></i></button>
							</div>
						</div>
						<thead>
							<tr>
								<td><span>Cantidad</span></td>
								<td><span>producto</span></td>
								<td><span>Precio Ind. </span></td>
								<td><span>Precio Total</span></td>
								<td><span>Peso Ind.</span></td>
								<td><span>Peso Real.</span></td>
								<td><span>Peso Total</span></td>
								<td><span>Factura</span></td>
								<td><span>Prestador</span></td>
								<td><span>Tracking</span></td>
								<td><span>Acciones</span></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in guides.products track by $index" ng-if="product.quantity > 0">
								<td><span>{{ product.quantity }}</span></td>
								<td><span>{{ product.product_name }}</span></td>
								<td><span>{{ product.partial_price | currency }}</span></td>
								<td><span>{{ product.partial_price * product.quantity  | currency  }}</span></td>
								<td><span>{{ product.partial_weight }} KG. </span></td>
								<td ng-if="!guides.activeEditing"><span>{{ product.partial_weight }} KG. </span></td>
								<td ng-if="guides.activeEditing"><input type="text" class="form-control" style="width:75px" ng-model="product.partial_weight"></td>
								<td><span>{{ product.partial_weight * product.quantity}} KG. </span></td>
								<td><span>{{ product.bill_number }}</span></td>
								<td><span>{{ product.postal }}</span></td>
								<td><span>{{ product.tracking_number }}</span></td>
								<td>
									<div class="col-xs-12" ng-if="product.quantity > 0">
										<div class="col-xs-3  no-padding">
											<input type="number" ng-model="guides.selectedQuantity[$index]" placeholder="Cant." class="form-control" min="1" max="{{ product.quantity }}">
										</div>
										<div class="col-xs-6">
											<select class="form-control selectedGuide" ng-options="guide.number for guide in guides.guideBatch track by guide.number" name="guide" id="guide" ng-model="guides.selectedGuide[$index]">
												<option value="" disabled="disabled">-- N° Gu&iacute;a --</option>
											 </select>
										</div>
										<div class="col-xs-3">
											<button ng-disabled="guides.selectedQuantity[$index] == null || guides.selectedGuide[$index] == null" ng-click="guides.addToGuide(product, guides.selectedGuide[$index].number, guides.selectedQuantity[$index] )" class="btn btn-default">Agregar</button>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>-->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button ng-hide="guides.hideTable" ng-if="guides.bills.length > 0" class="btn btn-hbr-blue" ng-click="guides.new_guide()">Nueva Guia</button>
				</div>
			</div>
			<div class="row" ng-if="guides.guideBatch.length">
				<div class="col-xs-12">
		
					<table class="table table-bordered table-striped table-curved rounded">
						<h3>Guias</h3>
						<p ng-if="guides.danger_msg" class="text-danger pull-right"><i class="fa fa-warning"></i> {{guides.danger_msg}}</p>
						<thead>
							<tr>
								<td><span>N° Gu&iacute;a</span></td>
								<td><span>Cantidad</span></td>
								<td><span>Producto</span></td>
								<td><span>Peso Total</span></td>
								<td><span>Precio Total </span></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="guide in guides.guideBatch track by $index" id="guide_list_{{guide.number}}">
								<td><span>{{ guide.number }}</span></td>
								<td><span>{{ guide.total_quantity }}</span></td>
								<td>
									<table class="col-xs-12" ng-if="guide.products.length">
										<thead>
											<tr style="background-color:transparent;">
												<td class="col-xs-3"><span> Cantidad </span></td>
												<td class="col-xs-3"><span> Producto </span></td>
												<td class="col-xs-3"><span> Peso </span></td>
												<td class="col-xs-3"><span> Precio </span></td>
												<td class="col-xs-3"><span> Quitar </span></td>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="product in guide.products track by $index">
												<td>{{ product.guide_amount }}</td>
												<td>{{ product.product_name }} </td>
												<td>{{ product.partial_weight }} Kg.</td>
												<td>{{ product.partial_price | currency }}</td>
												<td>
													<a href="" style="color:red" ng-click="guides.removeProduct(product, guide)">
														<i class=" fa fa-close "></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td><span>{{ guide.guide_total_weight }}</span></td>
								<td><span>{{ guide.guide_total_price  | currency }}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="modal-footer " id="modal-footer ">
			<button class="btn btn-hbr-blue " ng-click="guides.send() ">Guardar</button>
			<button class="btn btn-hbr-blue " ng-click="guides.cancel() ">Cerrar</button>
		</div>
	</script>