<div class="profile container-fluid" ng-cloak>
        <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/profile/profile.css">
        
    <h3><i class="fa fa-user"></i> Editar Perfil</h3>
    <hr>
    <div class="col-xs-12 content">
        <form name="profile.profileForm" novalidate data-ng-submit="profile.profileForm.$valid && !profile.profileForm.$pristine && profile.profileForm.$submitted && profile.profile()">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6" ng-if="profile.user.name && !profile.user.company_name  && !profile.user.warehouse_name" data-ng-class="{'has-error': profile.profileForm.name.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="name">Nombre (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="profile.user.name" placeholder="Nombre" autocomplete="off"
                        required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="profile.user.lastname && !profile.user.company_name && !profile.user.warehouse_name" data-ng-class="{'has-error': profile.profileForm.lastname.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="lastname">Apellido (*)</label><br>
                    <input id="lastname" autocomplete="off" class="form-control" type="text" name="lastname" ng-model="profile.user.lastname"
                        placeholder="Apellido" required>
                </div>
                <div class="form-group col-xs-12 " ng-if="profile.user.warehouse_name" data-ng-class="{'has-error': profile.profileForm.name.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="name">Warehouse name(*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="profile.user.warehouse_name" placeholder="Warehouse"
                        autocomplete="off" required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="profile.user.company_name" data-ng-class="{'has-error': profile.profileForm.name.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="name">Empresa (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="profile.user.company_name" placeholder="Empresa"
                        autocomplete="off" required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="profile.user.company_real_name" data-ng-class="{'has-error': profile.profileForm.name.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="name">Raz&oacute;n Social (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="profile.user.company_real_name" placeholder="Raz&oacute;n Social"
                        autocomplete="off" required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="profile.user.name && (profile.user.company_name || profile.user.warehouse_name)" data-ng-class="{'has-error': profile.profileForm.name.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="name">Nombre contacto (*)</label><br>
                    <input id="name" class="form-control" type="text" name="name" ng-model="profile.user.name" placeholder="Nombre" autocomplete="off"
                        required>
                </div>
                <div class="form-group col-xs-12 col-sm-6" ng-if="profile.user.lastname && (profile.user.company_name || profile.user.warehouse_name)" data-ng-class="{'has-error': profile.profileForm.lastname.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="lastname">Apellido Contacto(*)</label><br>
                    <input id="lastname" autocomplete="off" class="form-control" type="text" name="lastname" ng-model="profile.user.lastname"
                        placeholder="Apellido" required>
                </div>
                <div class="form-group" data-ng-class="{'has-error': profile.telError && profile.profileForm.$submitted}">
                    <div class="col-xs-12 col-md-6">
                        <label class="control-label" for="tel">Tel&eacute;fono</label><br>
                        <input id="tel" autocomplete="off" class="form-control" type="text" name="tel" ng-model="profile.user.tel" placeholder="Tel&eacute;fono">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="control-label" for="cel">Celular</label><br>
                        <input id="cel" autocomplete="off" class="form-control" type="text" name="cel" ng-model="profile.user.cel" placeholder="Celular">
                    </div>
                    <span class="has-error col-xs-12 help-block" ng-if="profile.telError">
						<i class="fa fa-times-circle"></i>  {{:: profile.telError }}
					</span>
                </div>
                <div class="form-group" data-ng-class="{'has-error': profile.profileForm.email.$invalid && profile.profileForm.$submitted}">
                    <div class="col-xs-12">
                        <label class="control-label" for="email">Correo Electr&oacute;nico (*)</label><br>
                        <input id="email" autocomplete="off" class="form-control" type="email" name="email" ng-model="profile.user.email" placeholder="Correo Electr&oacute;nico"
                            required>
                    </div>
                    <span class="has-error col-xs-12 help-block" ng-if="profile.existingEmail">
						<i class="fa fa-times-circle"></i>  {{:: profile.existingEmail}}
					</span>
                </div>
                <div class="form-group col-xs-12 col-sm-12" data-ng-class="{'has-error': (profile.profileForm.codeType.$invalid || profile.profileForm.idCode.$invalid) && profile.profileForm.$submitted}">
                    <label class="control-label" for="idCode">C&oacute;digo de identificaci&oacute;n ( Cuit / Cuil ) (*)</label><br>
                    <div class="input-group">
                        <select class="form-control" id="idCodeType" ng-options="obj.id as obj.name for obj in values" name="codeType" ng-model="profile.user.codeType"
                            required></select>
                        <input id="idCode" class="form-control" type="text" name="idCode" ng-model="profile.user.idCode" placeholder="C&oacute;digo de identificaci&oacute;n Cuit/Cuil"
                            required>
                    </div>
                </div>


                <div class="form-group" data-ng-class="{'has-error': profile.profileForm.password.$invalid && profile.profileForm.$submitted}">
                    <div class="col-xs-12 col-md-6">
                        <div ng-if="!profile.user">
                            <label class="control-label" for="pwd">Contrase&ntilde;a (*)</label><br>
                        </div>
                        <div ng-if="profile.user">
                            <label class="control-label" for="pwd">Cambiar contrase&ntilde;a(*)</label><br>
                        </div>

                        <input id="pwd" autocomplete="off" class="form-control" type="password" name="password" ng-model="profile.user.password"
                            placeholder="Password">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label class="control-label" for="pwd2">Repite Contrase&ntilde;a (*)</label><br>
                        <input id="pwd2" autocomplete="off" class="form-control" type="password" name="password2" ng-model="profile.user.password2"
                            placeholder="Repeat Password">
                    </div>
                    <span class="has-error col-xs-12 help-block" ng-if="profile.passwordError">
						<i class="fa fa-times-circle"></i>  {{:: profile.passwordError}}
					</span>
                </div>
                <div class="form-group col-xs-12 col-md-5" data-ng-class="{'has-error': profile.profileForm.address.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="address">Direcci&oacute;n (*)</label><br>
                    <input id="address" autocomplete="off" class="form-control" type="text" name="address" ng-model="profile.user.address" placeholder="Delivery Address"
                        required>
                </div>
                <div class="form-group col-xs-12 col-md-4" data-ng-class="{'has-error': profile.profileForm.localidad.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="localidad">Localidad (*)</label><br>
                    <input id="localidad" autocomplete="off" class="form-control" type="text" name="localidad" ng-model="profile.user.localidad"
                        placeholder="City / Town" required>
                </div>
                <div class="form-group col-xs-12 col-md-3" data-ng-class="{'has-error': profile.profileForm.postalCode.$invalid && profile.profileForm.$submitted}">
                    <label class="control-label" for="postalCode">C&oacute;digo Postal (*)</label><br>
                    <input id="postalCode" autocomplete="off" class="form-control" type="text" name="postalCode" ng-model="profile.user.postalcode"
                        placeholder="Postal Code" required>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-hbr-blue" ng-click="profile.edit()">Editar</button>
                <button class="btn btn-hbr-blue" ng-click="profile.cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>