<div class="navbar container-fluid">
    <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/components/navbar/navbar.css">
    <a class="navbar-brand" href="https://tucourier.com.ar/#home">
        <img class="img-responsive" src="./hbr-selfie/dist/components/navbar/logo.png" alt="logo">
    </a>
    <ul>
        <a href="" ui-sref="home.login" ng-if="!isLogged">
            <li>{{ navbar.lang.login }}</li>
        </a>
        <a href="" ui-sref="home.register" ng-if="!isLogged">
            <li>{{ navbar.lang.register }}</li>
        </a>
        <a href="" ng-if="isLogged" ng-click="navbar.logout()">
            <li>{{ navbar.lang.logout }}</li>
        </a>
        <a href="" ng-if="isLogged && isAdmin == 0" ui-sref="dashboard.profile" ng-if="dashboard.collapse" tooltip-placement="bottom"
            uib-tooltip="Ver Perfil">
            <li> {{ username }} </li>
        </a>
        <a href="" ng-if="isLogged && isAdmin == 1" ui-sref="dashboard.profile" ng-if="dashboard.collapse" tooltip-placement="bottom"
            uib-tooltip="Profile">
            <li> {{ username }} </li>
        </a>
        <a ng-if="!isLogged" href="https://tucourier.com.ar/#home">
            <li>{{ navbar.lang.home }}</li>
        </a>
        <a ui-sref="dashboard" ui-sref-opts="{reload: true}">
            <li ng-if="isAdmin == 0 && showTutorial == 0">{{ navbar.lang.tutorial }}</li>
        </a>
        <a ng-if="isLogged" href="" ui-sref="dashboard">
            <li>{{ navbar.lang.home }}</li>
        </a>
    </ul>
    <div class="langSupport">
        <span data-toggle="collapse" data-target="#lang-menu" ng-click="navbar.openLang = !navbar.openLang">
            <div class="menu-item" style="align-items: center;">
                <div class="menu-selected" ng-if="navbar.langSet == 'es'">
                    <img class="img-responsive flag" src="./hbr-selfie/dist/components/navbar/spa.png" alt="es_lang">
                    <span>{{ navbar.lang.language.es }}</span>
                </div>
                <div class="menu-selected" ng-if="navbar.langSet == 'en'">
                        <img class="img-responsive flag" src="./hbr-selfie/dist/components/navbar/en.png" alt="es_lang">
                        <span>{{ navbar.lang.language.en }}</span>
                    </div>
                <i class="fa" ng-class="navbar.openLang ? 'fa-angle-double-up' : 'fa-angle-double-down'"></i>
            </div>
        </span>
        <div id="lang-menu" class="collapse">
            <ul class="menu">
                <li ng-class="navbar.langSet == 'es' ? 'active': ''">
                    <a class="menu-item" ng-click="navbar.setLang('es')">
                        <img class="img-responsive flag" src="./hbr-selfie/dist/components/navbar/spa.png" alt="es_lang">
                        <span>{{ navbar.lang.language.es }}</span>
                    </a>
                </li>
                <li ng-class="navbar.langSet == 'en' ? 'active': ''">
                    <a class="menu-item" ng-click="navbar.setLang('en')">
                        <img class="img-responsive flag" src="./hbr-selfie/dist/components/navbar/en.png" alt="en_lang">
                        <span>{{ navbar.lang.language.en }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>