<div class="shoppingList container-fluid" ng-cloak>
    <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/shopping_list/shopping_list.css">
    <h3><i class="fa fa-shopping-cart"></i> Compras</h3>
    <hr>
    <div class="col-xs-12 content">
        <div class="row" ng-if="!shoppingList.ventas.length">
            <div class="empty-list">
                <h3>No se han registrado compras asociadas a&uacute;n.</h3>
                <button class="btn btn-hbr-blue" ui-sref="dashboard.shopping"><i class="fa fa-shopping-cart"></i> Agregar Compras</button>
            </div>
        </div>
        <table class="table table-bordered table-striped table-curved rounded" ng-if="shoppingList.ventas.length">
            <thead>
                <tr>
                    <td><span>#ID Compra</span></td>
                    <td class="large-row"><span>Fecha de solicitud</span></td>
                    <td><span>Cant. Lotes</span></td>
                    <td><span>Precio Art&iacute;culos</span></td>
                    <td><span>Peso Total </span></td>
                    <td><span>Cantidad Compras</span></td>
                    <td><span>Cantidad sin procesar</span></td>
                    <td><span>Peso Total</span></td>
                    <td class="large-row"><span>Precio Total</span></td>
                    <td><span>M&aacute;s Info.</span></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="venta in shoppingList.ventas track by $index">
                    <td><span>{{ venta.id }}</span></td>
                    <td><span>{{ venta.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                    <td ng-if="venta.guide_amount !== '0'"><span>{{ venta.guide_amount }}</span></td>
                    <td ng-if="venta.guide_amount == '0'"><span class="unpayed"> Procesando Info.</span></td>
                    <td><span>U$D {{ venta.parcial_price }}</span></td>
                    <td><span>{{ venta.peso_total }} Kg.</span></td>
                    <td><span>{{ venta.total_quantity }}</span></td>
                    <td><span>{{ venta.total_remaining_quantity }}</span></td>
                    <td><span>{{ venta.total_weight }} Kg.</span></td>
                    <td><span> {{ venta.total | currency }}</span></td>
                    <td>
                        <button ng-click="shoppingList.moreInfo(venta.bills)" class="btn btn-default"> VER MAS </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 		<uib-pagination next-text="Siguiente" previous-text="Anterior" total-items="3" data-num-pages="1"
	ng-model="1" class="pagination-sm" items-per-page="3" boundary-link-numbers="true"></uib-pagination> -->
    </div>
    <div ng-include src="'hbr-selfie/dist/routes/shopping_list/moreinfo/moreinfo.template.html'"></div>
</div>