@import '../../styles/base';
.modal-dialog {
    width: 90%;
    padding-top: 100px;
    height:90%;
    .btn-hbr-blue {
        @include hbr-btn-blue(150px, 50px, $hbr-green);
    }
    .modal-body {
        .overflow-table_container {
            overflow-x: scroll;
        }
        .overflow-table {
            width: 200%;
            max-width: 200%;
        }
        .table {
            border: 0.1px solid $hbr-blue;
        }
        .table-bordered>thead>tr>th,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>tbody>tr>td,
        .table-bordered>tfoot>tr>td {
            border: 0.1px solid $hbr-blue;
            text-align: center;
			font-size: 12px;
        }
        .rounded {
            thead {
                tr {
                    font-family: 'Open Sans', sans-serif;
                    background: $hbr-green;
                    color: $hbr-blue;
                    text-align: center;
					font-size: 12px;
                }
            }
            tbody {
                font-size: 12px;
                tr {
                    td {
                        text-align: center;
                        vertical-align: middle;
                        font-size: 12px;
                        span {
                            font-size: 12px;
                            i {
                                cursor: pointer;
                                vertical-align: middle;
                                margin: 0 5px;
                                font-size: 12px;
                                &.fa.fa-file-pdf-o {
                                    color: #DA251C;
                                }
                                &.fa.fa-edit {
                                    color: green;
                                }
                                &.fa.fa-close {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.shoppingList {
    margin-top: 20px;
    .payed {
        color: green;
    }
    .unpayed {
        color: red;
    }
    .content {
        margin: 0;
        width: 100%;
        margin-left: 0;
        margin-bottom: 10%;
    }
    h3 {
        color: $hbr-blue;
		i {
			font-size: 24px;
		}
        
    }
    hr {
        background-color: $hbr-blue;
        height: 1px;
        border: 0;
        margin-bottom: 50px;
    }
    .table {
        border: 0.1px solid $hbr-blue;
    }
    .table-bordered>thead>tr>th,
    .table-bordered>tbody>tr>th,
    .table-bordered>tfoot>tr>th,
    .table-bordered>thead>tr>td,
    .table-bordered>tbody>tr>td,
    .table-bordered>tfoot>tr>td {
        border: 0.1px solid $hbr-blue;
        text-align: center;
    }
    .rounded {
        margin-top: 5%;
        thead {
            tr {
                font-family: 'Open Sans', sans-serif;
                background: $hbr-green;
                color: $hbr-blue;
                text-align: center;
                font-size: 10px;
                td.large-row {
                    min-width: 100px;
                }
            }
        }
        tbody {
            font-size: 12px;
            tr {
                td {
                    text-align: center;
                    vertical-align: middle;
                    .btn {
                        font-size: 11px;
                    }
                    span {
                        i {
                            cursor: pointer;
                            vertical-align: middle;
                            margin: 0 5px;
                            font-size: 12px;
                            &.fa.fa-file-pdf-o {
                                color: #DA251C;
                            }
                            &.fa.fa-edit {
                                color: green;
                            }
                            &.fa.fa-close {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}