@import '../../../styles/base';
.awb-box {
    h3 {
        color: $hbr-blue;
        padding-top: 20px;
    }
    hr {
        background-color: $hbr-blue;
        height: 1px;
        border: 0;
        margin-bottom: 50px;
    }
    .btn-hbr-blue {
        @include hbr-btn-blue(100%, 40px, $hbr-green);
        padding: 0;
        font-size: 11px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        &.btn-search {
            width: 60px;
            border-left: 1px solid $hbr-green;
        }
        outline: none;
        box-shadow: none;
    }
    .filterBoxes {
        .badge {
            padding: 5px 10px;
            background: $hbr-blue;
            color: $hbr-green;
            vertical-align: middle;
            font-size: 12px;
            margin: 5px 10px;
            a {
                margin-left: 5px;
                cursor: pointer;
                color: white;
            }
        }
        &:first-child {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .input-group {
        margin: 10px 0px;
        input {
            height: 40px;
        }
        button {
            height: 40px;
            width: 160px;
            padding: 0;
            font-size: 11px;
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: space-around;
        }
        a {
            cursor: pointer;
        }
    }
    .awb-card {
        width: 48%;
        margin: 1%;
        height: 330px;
        padding: 0;
        position: relative;
        background: #fcfcfc;
        border: 1px solid $hbr-blue;
        border-radius: 5px;
        opacity: 1;
        color: $hbr-blue;
        ul {
            list-style: none;
        }
        ul:first-child {
            padding: 0;
        }
        &_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h4 {
                margin: 0;
                padding: 10px 15px;
            }
        }
        &_body {
            position: relative;
            list-style: none;
            height: 280px;
            overflow-y: auto;
            padding: 0px 20px 30px 20px;
            font-size: 13px;
            ul {
                .bills {
                    min-height: 140px;
                    padding: 5px 10px;
                    margin-top: 10px;
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 5px;
                }
                ul {
                    margin-bottom: 15px;
                }
                li {
                    a {
                        color: $hbr-light-purple;
                        &:hover {
                            color: darken( $hbr-light-purple, 10%);
                        }
                    }
                }
            }
        }
        &_footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-content: space-around;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;
            background: $hbr-blue;
            color: $hbr-green;
        }
        &:hover {
            box-shadow: 0px 0px 2px 1px $hbr-light-purple;
        }
    }
    .delete-box {
        margin: 0;
        padding: 0;
        .popover-content {
            padding: 0;
        }
        .arrow:after {
            border-top-color: transparent;
        }
        .delete-title {
            width: 100%;
            padding: 10px 15px;
            font-size: 14px;
            color: gray;
        }
        .delete-body {
            display: flex;
            flex-direction: row;
            .btn-flat {
                @include btn-flat(50%, 30px);
                &-danger {
                    border-radius: 0px 0px 0px 5px;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background-color: darken($hbr-red, 5%);
                    }
                }
                &-default {
                    border-radius: 0px 0px 5px 0px;
                    transition: all 0.2s ease-in-out;
                    background-color: $hbr-light-purple;
                    color: white;
                    &:hover {
                        background-color: darken($hbr-light-purple, 5%);
                    }
                }
            }
        }
    }
}

.text-danger {
    padding: 0 10px !important;
    font-size: 13px !important;
    line-height: 13px !important;
}

.modal-dialog {
    width: 60%;
    padding-top: 100px;
    .box-modal {
        .modal {
            &-body {
                .bills {
                    margin-top: 5%;
                    .bill {
                        color: $hbr-blue;
                        &-file {
                            color: $hbr-light-purple;
                            font-size: 25px;
                        }
                    }
                }
                .form-group {
                    textarea {
                        height: 80px;
                    }
                }
                input[type="file"]::-webkit-file-upload-button {
                    &,
                    &:active,
                    &:focus,
                    &:active:focus,
                    &:hover {
                        background-color: $hbr-green;
                        border: 1px solid $hbr-blue;
                        color: $hbr-blue;
                        width: 200px;
                        height: 40px;
                        outline: 0;
                        padding: 0.4em 1em;
                        font-family: $roboto;
                    }
                    &:hover {
                        background-color: lighten($hbr-green, 5%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}