<div class="product wh-modal container-fluid" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="modalAddproduct.cancel()">&times;</button>
        <h3><i class="fa fa-list-alt"></i> Agregar Producto</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="categories" class="control-label">Categor&iacute;a (*)</label>
                <select class="form-control"
                        ng-options="category.name for category in modalAddproduct.categories track by category.category_id"
                        name="categories" id="categories" ng-model="modalAddproduct.product.category_id">
                    <option value="" disabled="disabled">-- Selecciona Categor&iacute;a --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="product" class="control-label">Producto (*)</label>
                <input type="text" id="product" class="form-control" ng-model="modalAddproduct.product.name">
            </div>
            <div class="form-group">
                <label for="desc" class="control-label">Descripci&oacute;n (*)</label>
                <textarea id="desc" class="form-control" ng-model="modalAddproduct.product.description">
                </textarea>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="imp_rights" class="control-label"> Imp. Derecho (*)</label>
                        <div class="input-group">
                            <input type="number" id="imp_rights" class="form-control" ng-model="modalAddproduct.product.imp_rights">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-percent"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="imp_estadistic_rate" class="control-label">Imp. Tasa Estadística (*)</label>
                        <div class="input-group">
                        <input type="number" id="imp_estadistic_rate" class="form-control"
                               ng-model="modalAddproduct.product.imp_estadistic_rate">
                            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-percent"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="imp_iva" class="control-label">Imp. IVA (*)</label>
                        <div class="input-group">
                        <input type="number" id="imp_iva" class="form-control" ng-model="modalAddproduct.product.imp_iva">
                            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-percent"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="imp_iva_adic" class="control-label">Imp. IVA Adic. (*)</label>
                        <div class="input-group">
                        <input type="number" id="imp_iva_adic" class="form-control" ng-model="modalAddproduct.product.imp_iva_adic">
                            <span class="input-group-addon" id="basic-addon4"><i class="fa fa-percent"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-hbr-blue" ng-click="modalAddproduct.addproduct()">Agregar</button>
        <button class="btn btn-hbr-blue" ng-click="modalAddproduct.cancel()">Cancelar</button>
    </div>
</div>