<div class="product wh-modal container-fluid" >
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modalDeleteproduct.cancel()">&times;</button>
		<h3><i class="fa fa-list-alt"></i> Eliminar Producto</h3>
	</div>
	<div class="modal-body">
	<p>¿ Realmente desea eliminar a {{modalDeleteproduct.product.name}} ?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-hbr-blue" ng-click="modalDeleteproduct.deleteproduct()">Eliminar</button>
		<button class="btn btn-hbr-blue" ng-click="modalDeleteproduct.cancel()">Cancelar</button>
	</div>
</div>