<div class="users container-fluid" ng-cloak>
	<link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/users/users.css">
	<div>
	<h3 class="pull-left" ng-if="users.client_type == 0"><i class="fa fa-users"></i> Manage Users</h3>
	<button ng-if="users.client_type == 0"  class="btn btn-hbr-blue pull-right" ng-click="users.addUser()"><i class="fa fa-plus"></i>User</button>
	<h3 class="pull-left" ng-if="users.client_type == 1"><i class="fa fa-building"></i>Manage Companies</h3>
	<button ng-if="users.client_type == 1" class="btn btn-hbr-blue pull-right" ng-click="users.addCompany()"><i class="fa fa-plus"></i>Company</button>
</div>
	<br><br>
	<hr>
	<div class="row">                 
		<div class="col-xs-6">
			<label for="">General Search</label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
				<input type="text" name="search" class="form-control" placeholder="General Search" ng-model="generalSearch">
			</div>
		</div>
</div>
	<table class="table table-bordered table-striped table-curved rounded">
		<thead>
			<tr>
				<td ng-if="users.client_type == 0"><span>Name</span></td>
				<td ng-if="users.client_type == 0"><span>Lastname</span></td>
				<td ng-if="users.client_type == 1"><span>Company name</span></td>
				<td ng-if="users.client_type == 1"><span>Company Real name</span></td>
				<td><span>Phone</span></td>
				<td><span>Cellphone</span></td>
				<td><span>Delivery Address</span></td>
				<td><span>City/Town</span></td>
				<td><span>Postal Code</span></td>
				<td><span>ID Type</span></td>
				<td><span>ID Code</span></td>
				<td><span>Actions</span></td>

			</tr>
		</thead>
		<tbody>
			<tr  ng-repeat="user in filtered = ( users.userlist  | filter : generalSearch )  | start: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage | filter : paginate  track by $index">
				<td ng-if="users.client_type == 0"><span>{{ user.name }}</span></td>
				<td ng-if="users.client_type == 0"><span>{{ user.lastname }}</span></td>
				<td ng-if="users.client_type == 1"><span>{{ user.company_name }}</span></td>
				<td ng-if="users.client_type == 1"><span>{{ user.company_real_name }}</span></td>
				<td><span>{{ user.tel }}</span></td>
				<td><span>{{ user.cel }}</span></td>
				<td><span>{{ user.address }}</span></td>
				<td><span>{{ user.localidad }}</span></td>
				<td><span>{{ user.postalcode }}</span></td>
				<td ng-if="user.codeType == 2"><span>Cuil</span></td>
				<td ng-if="user.codeType == 1"><span>Cuit</span></td>
				<td><span>{{ user.idCode }}</span></td>
				<td class="actions">
					<i class="fa fa-edit" tooltip-placement="left" uib-tooltip="Editar" ng-click="users.editUser(user)"></i>
					<i class="fa fa-close" tooltip-placement="top" uib-tooltip="Eliminar" ng-click="users.removeUser(user)"></i>
					<i ng-if="user.isAdmin == '1' && !user.company_name.length" class="fa fa-unlock" tooltip-placement="right" uib-tooltip="Remove Admin" ng-click="users.changePrivileges(user)"></i>
					<i ng-if="user.isAdmin == '0' && !user.company_name.length" class="fa fa-lock" tooltip-placement="right" uib-tooltip="Make Admin" ng-click="users.changePrivileges(user)"></i>
				</td>
			</tr>
		</tbody>
	</table>
	   <uib-pagination next-text="Siguiente" previous-text="Anterior" total-items="filtered.length" data-num-pages="categories.noOfPages" ng-model="currentPage" class="pagination-sm pull-right" items-per-page="itemsPerPage" boundary-link-numbers="true"></uib-pagination>
</div>
<div ng-include src="'hbr-selfie/dist/routes/users/modals/editUser.template.html'"></div>
<div ng-include src="'hbr-selfie/dist/routes/users/modals/addUser.template.html'"></div>
<div ng-include src="'hbr-selfie/dist/routes/users/modals/deleteUser.template.html'"></div>

