<div class="box box-modal container-fluid" ng-cloak>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modalAddShippingBox.cancel()">&times;</button>
        <h3><i class="fa fa-dropbox" style="margin-right:5px"></i>{{modalAddShippingBox.lang.form.title}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="col-xs-12 content">
            <uib-tabset justified="true" active="modalAddShippingBox.tabActive">
                <uib-tab index="$index + 1" id="tab_{{$index + 1}}" ng-repeat="tab in modalAddShippingBox.tabs" disable="tab.disabled">
                    <uib-tab-heading>
                        <span class="steps">{{tab.title}}</span>
                    </uib-tab-heading>
                    <div ng-include="tab.content"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>