<form class="shipping-box">
    <div class="row">
        <div class="col-xs-12">
            <h4><i class="fa fa-user"></i> {{ modalAddShippingBox.lang.form.add.final_costumer }}</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.shipping_info.company }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.user.company_real_name" required>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="shipping_val">{{ modalAddShippingBox.lang.form.add.shipping_info.cuit }}</label>
            <input readonly type="text" name="shipping_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.user.idCode" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.shipping_info.address }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.user.address" required>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="shipping_val">{{ modalAddShippingBox.lang.form.add.shipping_info.city }}</label>
            <input readonly type="text" name="shipping_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.user.localidad" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.shipping_info.postalcode }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.user.postalcode" required>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="shipping_val">{{ modalAddShippingBox.lang.form.add.shipping_info.tel }} </label>
            <input readonly type="text" name="shipping_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.user.tel" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4><i class="fa fa-map-marker"></i> {{ modalAddShippingBox.lang.form.add.box_origin }}</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.warehouse.label }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.box.warehouse.name" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.warehouse.address }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.box.warehouse.address" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.warehouse.localidad }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.box.warehouse.localidad" required>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.warehouse.postalcode }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.box.warehouse.postalcode" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.warehouse.tel }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.box.warehouse.tel" required>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="freight_val">{{ modalAddShippingBox.lang.form.add.warehouse.cel }}</label>
            <input readonly type="text" name="freight_val" class="form-control" ng-model="modalAddShippingBox.box.warehouse.cel" required>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="footer">
                <button ng-click="modalAddShippingBox.finish()" style="width:180px" class="btn btn-hbr-steps add-btn">  {{ modalAddShippingBox.lang.form.add.title }}  </button>
                <button ng-click="modalAddShippingBox.cancel()" class="btn btn-hbr-steps">  {{ modalAddShippingBox.lang.form.add.cancelBtn }}  </button>
            </div>
        </div>
    </div>
</form>