<section class="shipping container-fluid" >
        <link rel="stylesheet" type="text/css" href="./hbr-selfie/dist/routes/wh-box/shipping/shipping.css">
        
    <h3>
        <i class="fa fa-truck"></i> {{ shipping.lang.title}} </h3>
    <hr>
    <div class="action-menu row">
        <div ng-if="shipping.isAdmin == 1 || shipping.clientType == 2" class="col-xs-2 no-padding">
            <div class="input-group">
                <button class="btn btn-hbr-blue" ng-click="shipping.addBox()">
                    <i class="fa fa-plus"></i>{{shipping.boxLang.room.filter.add}}</button>
            </div>
        </div>
        <div ng-class="shipping.isAdmin == 0 && shipping.clientType != 2 ? 'col-xs-12': 'col-xs-10'">
            <div class="input-group">
                <input id="{{filterField}}" type="text" class="form-control" placeholder="{{shipping.boxLang.room.filter.placeholder}}" ng-model="shipping.searchBy">
                <span class="input-group-btn">
                    <div class="btn-group">
                        <div uib-dropdown is-open="status.isopen">
                            <button class="btn btn-hbr-blue" uib-dropdown-toggle type="button">{{ shipping.filterName }}
                                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-if="shipping.isAdmin == 1" role="menuitem">
                        <a ng-click="shipping.setFilter('company_name', shipping.boxLang.room.filter.list.client_name)">{{shipping.boxLang.room.filter.list.client_name}}</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="shipping.setFilter('id',shipping.boxLang.room.filter.list.box_id)">{{shipping.boxLang.room.filter.list.box_id}}</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="shipping.setFilter('company_name',shipping.boxLang.room.filter.list.client_name)">{{shipping.boxLang.room.filter.list.client_name}}</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="shipping.setFilter('bill',shipping.boxLang.room.filter.list.bill)">{{shipping.boxLang.room.filter.list.bill}}</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="shipping.setFilter('warehouse_name', 'Warehouse')">Warehouse</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="shipping.setFilter('ageGreater',shipping.boxLang.room.filter.list.age_greater)">{{shipping.boxLang.room.filter.list.age_greater}}</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="shipping.setFilter('ageLess', shipping.boxLang.room.filter.list.age_less)">{{shipping.boxLang.room.filter.list.age_less}}</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="shipping.setFilter('', shipping.boxLang.room.filter.default)">{{shipping.boxLang.room.filter.list.remove}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="btn-group">
                        <button class="btn btn-hbr-blue btn-search" ng-click="shipping.applyFilter()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
        </span>
    </div>
    </div>
    <div class="col-xs-12" ng-if="shipping.multipleFilter.length">
        <div class="filterBoxes">
            <div class="badge" ng-repeat="filter in shipping.multipleFilter track by $index">
                <span>{{ filter.filterName }}: {{ filter.searchBy }}</span>
                <a ng-click="shipping.removeFilter($index)">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </div>
    </div>
    <section class="col-xs-12 shipping-board">
        <div class="row header">
            <div class="col-xs-4 shipping-board_col-headers no-padding">
                <div class="col-header text-center">
                    <h4> {{ shipping.lang.board.warehouse.title}}</h4>
                </div>
            </div>
            <i class="fa fa-plane board-icon board-icon-plane"></i>
            <div class="col-xs-4 shipping-board_col-headers no-padding">
                <div class="col-header text-center">
                    <h4>{{ shipping.lang.board.country.title}}</h4>
                </div>
            </div>

            <i class="fa fa-truck  board-icon board-icon-truck"></i>
            <div class="col-xs-4 shipping-board_col-headers no-padding">
                <div class="col-header text-center">
                    <h4>{{ shipping.lang.board.arrived.title}}</h4>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="box in filtered = (shipping.filteredBoxes)  | start: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage | filter : paginate track by $index">
            <div class="warehouse col-xs-4 no-padding shipping-board_col" drop-container on-drag-leave="shipping.dragLeave(box.id);" on-drop="shipping.dragEnter(0, box)">
                <div drop-target="center">
                    <div ng-if="box.status == 0" ng-include="'hbr-selfie/dist/routes/wh-box/shipping/box.template.html'"></div>
                </div>
            </div>
            <div class="baires col-xs-4 no-padding shipping-board_col" drop-container on-drag-leave="shipping.dragLeave(box.id);" on-drop="shipping.dragEnter(1, box)">
                <div drop-target="center">
                    <div ng-if="box.status == 1" ng-include="'hbr-selfie/dist/routes/wh-box/shipping/box.template.html'"></div>
                </div>
            </div>
            <div class="dispatched col-xs-4 no-padding shipping-board_col" drop-container on-drag-leave="shipping.dragLeave(box.id);" on-drop="shipping.dragEnter(2, box)">
                <div drop-target="center">
                    <div ng-if="box.status == 2" ng-include="'hbr-selfie/dist/routes/wh-box/shipping/box.template.html'"></div>
                </div>
            </div>
        </div>
        <uib-pagination next-text="Siguiente" previous-text="Anterior" total-items="filtered.length" data-num-pages="shoppingList.noOfPages"
        ng-model="currentPage" class="pagination-sm pull-right" items-per-page="itemsPerPage" boundary-link-numbers="true"></uib-pagination>
    </section>
    </div>