<form class="shipping-box">
    <div class="row">
        <div class="col-xs-12">
            <label for="company_name"><i class="fa fa-cubes"></i> {{::modalAddShippingBox.lang.form.add.box_list.label}}</label><br>
            <div class="box-list" style="border-radius:5px 5px 0px 0px">
                <div class="box" ng-repeat="spbox in modalAddShippingBox.shippingBox.boxes track by $index">
                    <i class="fa fa-times-circle delete" ng-click="modalAddShippingBox.deleteSPBox(spbox, $index)"></i>
                    <i class="fa fa-cube"></i><br>
                    <span>{{::modalAddShippingBox.lang.form.add.box}} #{{spbox.id}}</span>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:25px;">
        <div class="row">
            <div class="form-group col-xs-4">
                <label class="control-label" for="weight">{{:: modalAddShippingBox.lang.form.add.shipping_box.sb_weight}}</label>
                <input readonly type="text" name="weight" class="form-control" ng-model="modalAddShippingBox.shippingBox.total.weight" required>
            </div>
            <div class="form-group col-xs-4">
                <label class="control-label" for="value">{{:: modalAddShippingBox.lang.form.add.shipping_box.sb_value}}</label>
                <input readonly type="text" name="value" class="form-control" ng-model="modalAddShippingBox.shippingBox.total.value" required>
            </div>
            <div class="form-group col-xs-4">
                <label class="control-label" for="quantity">{{:: modalAddShippingBox.lang.form.add.shipping_box.sb_quantity}}</label>
                <input readonly type="text" name="quantity" class="form-control" ng-model="modalAddShippingBox.shippingBox.total.quantity" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label class="control-label" for="wh_val">{{:: modalAddShippingBox.lang.form.add.shipping_box.warehouse_val}}</label>
                <input readonly type="text" name="wh_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.total.wh_val" required>
            </div>
            <div class="form-group col-xs-6">
                <label class="control-label" for="wh_aditional_val">{{:: modalAddShippingBox.lang.form.add.shipping_box.wh_aditional_val}}</label>
                <input readonly type="text" name="wh_aditional_val" class="form-control" ng-model="modalAddShippingBox.shippingBox.total.wh_aditional_val" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="footer">
                    <button class="btn btn-hbr-steps add-btn" ng-click="modalAddShippingBox.nextStep($index)">
                            {{::modalAddShippingBox.lang.form.add.next_step}} <i class="fa fa-chevron-right"></i>
                        </button>
                    <button ng-click="modalAddShippingBox.cancel()" class="btn btn-hbr-steps">  {{:: modalAddShippingBox.lang.form.add.cancelBtn }}  </button>
                </div>
            </div>
        </div>
    </div>
</form>